.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  background-color: var(--cor--branco-2);
}

.title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.taskSection input,
.taskSection select {
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--cor--branco-2);
}

.taskSection input:focus,
.taskSection input:active,
.taskSection input:hover {
  border: none !important;
  box-shadow: none !important;
}

.taskSection label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid var(--cor--principal);
  background-color: var(--cor--branco-2);
}

.contentSection {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.taskSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  max-width: 350px;
  max-height: 350px;
  margin: 10px 0 5px 0;
  border: 1px solid var(--cor--branco-4);
  border-radius: 10px;
  padding-bottom: 8px;
  background: var(--cor--branco-1);

  overflow-y: auto;
}

.addTask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  border: 1px solid var(--cor--branco-4);
  border-radius: 5px;
  background: var(--cor--branco-3);
}

.btnSave {
  padding: 8px;
  color: var(--cor--branco-2);
  background-color: var(--cor--principal-claro);
  font-size: 1.5rem;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.btnSave:hover {
  background-color: var(--cor--principal-escuro);
}

.tasksList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.taskItens {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.divTask {
  display: flex;
  gap: 5px;
}

.divButton {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100%;
  padding: 2px 5px;
  border: none;
}

.divButtonFinish {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100%;
  padding: 2px 5px;
  border: none;
  color: var(--cor--branco-10);
  text-decoration: line-through;
  text-decoration-color: var(--cor--principal-claro);
}

.btnEditTask {
  border: none;
  color: var(--cor--principal-claro);
  font-size: 0.9rem;
  cursor: pointer;
}

.btnDelTask {
  border: none;
  margin-left: 5px;
  color: var(--cor--alerta-vermelho-forte);
  font-size: 0.9rem;
  cursor: pointer;
}

.btnDelTask:hover,
.btnEditTask:hover {
  color: var(--cor--secundaria-claro);
}

.calendar {
  width: 90%;
  max-width: 1300px;
  border-radius: 10px;
  border: 1px solid var(--cor--branco-4);
  background: var(--cor--branco-1);
  margin-bottom: 5px;
}
