.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  background-color: var(--mainBackground);
}

.title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  color: var(--primaryColor);
}

.contentSection {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 90%;
}

.taskSection {
  display: flex;
  padding: 10px 0;
  align-items: center;
  flex-direction: column;
  width: 80%;
  max-width: 350px;
  max-height: 350px;
  margin: 10px 0 5px 0;
  border: 1px solid var(--borderColor);
  border-radius: 10px;
  background: var(--cardBackground);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  overflow-y: auto;
}

.taskSection input,
.taskSection select {
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  color: var(--primaryText);
  background-color: var(--inputColor);
}

.taskSection input:focus,
.taskSection input:active,
.taskSection input:hover {
  border: none !important;
  box-shadow: none !important;
}

.taskSection h2 {
  color: var(--primaryText);
}

.addTask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.btnSave {
  color: var(--primaryText);
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.btnSave:hover {
  color: var(--primaryColor);
}

.tasksList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.taskItens {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.textTask {
  cursor: pointer;
}

.divTask {
  display: flex;
  gap: 5px;
}

.divButton {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100%;
  padding: 2px 5px;
  border: none;
  cursor: pointer;
}

.divButtonFinish {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100%;
  padding: 2px 5px;
  border: none;
  color: var(--tercearyText);
  text-decoration: line-through;
  text-decoration-color: var(--primaryColor);
  cursor: pointer;
}

.btnEditTask {
  border: none;
  color: var(--secondaryText);
  font-size: 0.9rem;
  cursor: pointer;
}

.btnDelTask {
  border: none;
  margin-left: 5px;
  color: var(--errorColor2);
  font-size: 0.9rem;
  cursor: pointer;
}

.btnDelTask:hover,
.btnEditTask:hover {
  color: var(--primaryText);
}

@media (max-width: 768px) {
  .title {
    width: 100%;
    padding-right: 10px;
    margin-top: 10px;
    font-size: var(--font-4);
  }

  .contentSection {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
  }

  .calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}
