.main {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  padding-bottom: 20px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-right: 50px;
  color: var(--textBase);
}

.title span {
  font-size: 30px;
  font-weight: 600;
  color: var(--primaryColor);
}

.btnsWindows {
  display: flex;
  margin: 10px 0 0 10px;
  gap: 10px;
}

.btnWindows {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--textBase);
  transition: opacity 0.2s ease;
}

.btnSlide {
  display: flex;
  align-items: center;
  padding: 3px;
  width: 36px;
  height: 20px;
  border-radius: 999px;
  border: 1px solid var(--textBase);
  transition: all 0.25s ease;
}

.slide {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--textBase);
  transition: all 0.25s ease;
}

.btnSlideActive {
  justify-content: flex-end;
}

.btnSlideActive .slide {
  background-color: var(--primaryColor);
}

.btnWindows:hover .btnSlide {
  border-color: var(--primaryColor);
}

.contentSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  width: 90%;
  gap: 10px;
  margin-top: 20px;
}

.contentSection h5 {
  color: var(--primaryText);
}

.taskSection,
.chartSection,
.noteSection {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  width: 100%;
  max-height: 500px;
  border-radius: 10px;
  overflow-y: auto;
  grid-column: span 1;
}

.titleCard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 25px;
}

.titleCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.btnOpen {
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.btnOpen .slide {
  background-color: var(--errorColor);
  opacity: 0.5;
}

.btnOpen .slide:hover {
  opacity: 1;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-height: 0;
}

.card:hover {
  color: var(--primaryText);
}

.btnsNote {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.btnNote {
  color: var(--textBase);
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.btnNote:hover {
  color: var(--primaryColor);
}

.gapNoArrows {
  margin-bottom: 5px;
}

.noteInput {
  width: 100%;
  flex: 1;
  display: flex;
  padding: 0 12px;
  min-height: 0;
}

.formNote {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  color: var(--primaryText);
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  resize: none;
  line-height: 1.4;
}

.btnSave {
  color: var(--textBase);
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.btnSave:hover {
  color: var(--primaryText);
}

.chartSection {
  overflow: hidden;
  padding: 0 5px;
  justify-content: space-between;
}
.chartSection .titleCard {
  margin: 10px 0;
}

.taskSection {
  overflow: hidden;
}

.addTask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  width: 95%;
  gap: 5px;
}

.inputForm {
  width: 100%;
}

.tasksList {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  overflow-y: auto;
}

.tasksList p {
  margin: 5px 0;
  color: var(--textBase);
}

.taskItens {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  gap: 5px;
  border-bottom: 1px solid var(--shadowColor);
}

.btnDelTask,
.btnEditTask {
  border: none;
  color: var(--textBase);
  font-size: 0.9rem;
  cursor: pointer;
}

.btnDelTask:hover {
  color: var(--errorColor);
}

.btnEditTask:hover {
  color: var(--primaryColor);
}

.divTask {
  display: flex;
  gap: 5px;
}

.divTask span {
  color: var(--primaryText);
}

.divButton,
.divButtonFinish {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100%;
  padding: 2px 5px;
  border: none;
  cursor: pointer;
}

.divButtonFinish span {
  color: var(--textBase);
  text-decoration: line-through;
  text-decoration-color: var(--textBase);
}

.scheduleSection {
  padding: 10px 3px;
  border-radius: 10px;
  max-width: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    margin-top: 10px;
  }

  .btnsWindows {
    margin: 10px 0 0 0;
  }

  .contentSection {
    display: grid;
    grid-template-columns: 1fr;
  }
}
