.cardsDeals {
  display: flex;
  gap: 10px;
}

.statusCard {
  margin: 10px 0;
  padding: 10px;
  border-left: 1px solid var(--textBase);
  flex: 1;
  min-width: 0;
}

.statusCard:first-child {
  border-left: none;
}

.statusName {
  width: 100%;
  text-align: center;
  color: var(--textBase);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.displayNamePage {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.displayNamePage span {
  display: inline-block;
  white-space: nowrap;
  color: var(--textBase);
}

.displayNamePage h4 {
  color: var(--textBase);
}

span .currentPage {
  color: var(--primaryText);
}

.loadingStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;

  color: rgba(255, 255, 255, 0.1);
  font-size: 1.3rem;
}

.loadingStatus svg {
  animation: spin 1s linear infinite;
}

/* 
.status_approved {
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); 
}
.status_under_review {
  background: var(--cardBackgroundHover);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.status_missing_documents {
  background: var(--cardBackgroundHover);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.status_interested {
  background: var(--cardBackgroundHover);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.status_rejected {
  background: var(--cardBackgroundHover);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.status_dropped_out {
  background: var(--cardBackgroundHover);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
} */

.dealList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
  width: 100%;
  margin: 10px 0;
}

.deal {
  color: var(--primaryText);
  border-radius: 8px;
  padding: 5px 10px;
  gap: 10px;
  width: 100%;
  cursor: pointer;
  border: none;
}

.deal:hover {
  background: var(--cardBackground);
}

.dealInfos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dealHeader,
.dealFooter {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.btnPriority {
  text-align: start;
  color: var(--primaryColor);
}

.lastContact {
  text-align: start;
  color: var(--secondaryText);
}

.lastContactInvisible {
  opacity: 0;
  visibility: hidden;
  user-select: none;
}

.user {
  font-weight: 100;
  font-size: 9px;
  text-align: center;
}

.btnUncheck {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--errorColor);
}

.uncheck {
  color: var(--errorColor);
}

.uncheck:hover {
  color: var(--primaryText);
  background-color: var(--errorColor);
}

.noItens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 90px;
  color: var(--textBase);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .cardsDeals {
    flex-direction: column;
  }

  .statusCard {
    border-top: 1px solid var(--textBase);
  }

  .statusCard:first-child {
    border-top: none;
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
  }

  .displayNamePage {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .displayNamePage span {
    display: inline-block;
    white-space: nowrap;
    color: var(--textBase);
  }

  .displayNamePage h4 {
    color: var(--textBase);
  }

  span .currentPage {
    color: var(--primaryText);
  }

  .loadingStatus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;

    color: rgba(255, 255, 255, 0.1);
    font-size: 1.3rem;
  }

  .loadingStatus svg {
    animation: spin 1s linear infinite;
  }

  .noItens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 90px;
    color: var(--textBase);
  }
}
