.clientList {
  display: grid;
  gap: 15px;
  width: 100%;
  margin: 20px auto;
  padding: 0 20px;

  grid-template-columns: repeat(1, 1fr);
}

.client {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 8px;
  color: var(--primaryText);
  padding: 5px 10px;
  width: 100%;
  min-height: 80px;
  cursor: pointer;
  border: none;
}

.client:hover {
  background: var(--cardBackground);
}

.clientPriority {
  border: solid 1px var(--primaryColor);
}

.clientHeader {
  display: flex;
  justify-content: space-between;
}

.btnPriorityCard,
.btnPriorityActiveCard,
.starInvisible {
  font-size: 1rem;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
}

.starInvisible {
  opacity: 0;
  visibility: hidden;
}

.btnPriorityCard {
  color: var(--primaryText);
}

.btnPriorityActiveCard {
  color: var(--primaryColor);
}

.user {
  font-weight: 100;
  font-size: 9px;
  text-align: center;
}

.pagination {
  grid-column: 1 / -1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
  width: 100%;
}

.pagination span {
  display: inline-block;
  white-space: nowrap;
  color: var(--textBase);
}

span .currentPage {
  color: var(--primaryText);
}

.btnUncheck {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--errorColor);
}

.uncheck {
  color: var(--errorColor);
}

.uncheck:hover {
  color: var(--primaryText);
  background-color: var(--errorColor);
}

.noItens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 90px;
  color: var(--textBase);
}

@media (min-width: 1200px) {
  .clientList {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (min-width: 768px) {
  .clientList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .clientList {
    grid-template-columns: repeat(2, 1fr);
  }

  .client {
    min-height: 60px;
  }
}
