.main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  align-items: center;

  display: flex;
  flex-direction: column;
  background-color: var(--mainBackground);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px 10px 10px;
  color: var(--primaryText);
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
}

.headerIcons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.btnSetting {
  margin-top: 20px;
  padding: 5px;
  color: var(--sidebarBackground);
  font-size: 0.9rem;
  gap: 5px;
  border: none;
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
  background: var(--cardBackground);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnSettingActive {
  margin-top: 20px;
  padding: 5px;
  gap: 5px;
  color: var(--primaryColor);
  background: var(--cardBackground2);
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnSetting:hover {
  background: var(--cardBackgroundHover);
}

.btnSettingActive:hover {
  background: var(--cardBackground2Hover);
}

.addDeal {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cardBackground);
  border-radius: 20px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: var(--primaryText);
  font-size: 1.3rem;

  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.addDeal:hover {
  background: var(--cardBackgroundHover);
}

.boxCard {
  width: 100%;
}

.cardBox {
  width: 100%;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: x-large;
  }
}
