.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.overlay h2 {
  color: var(--primaryText);
}

.overlay input,
.overlay select {
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  background: var(--cardBackground);
}

.overlay input:focus,
.overlay input:active,
.overlay input:hover {
  border: none !important;
  box-shadow: none !important;
}

.overlay label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid var(--shadowColor);
  background: var(--cardBackground);
}

.modal {
  background: var(--mainBackground);
  padding: 1.8rem 1.8rem 1rem 1.8rem;
  gap: 4px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerModal {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.closeBtn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
}

.error {
  color: var(--errorColor2);
  font-size: var(--font-5);
}

.btnUpdate {
  padding: 5px;
  color: var(--primaryText);
  background: var(--cardBackground);
  border: none;
  border-radius: 20px;
  width: 200px;
  cursor: pointer;
}

.btnEditUser {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cardBackground);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: var(--primaryText);
  font-size: 1.3rem;
  border: 1px solid var(--shadowColor);
}

.btnEditUserActive {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--errorColor2);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: var(--primaryText);
  font-size: 1.3rem;
  border: 1px solid var(--shadowColor);
}

.createUserLabels {
  width: 100%;
}

.labelSettingUser {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  border: 1px solid var(--shadowColor);
  background: var(--primaryText);
  transition: 200ms;
  width: 100%;
}

.box {
  display: flex;
  width: 100%;
  gap: 3px;
  margin-bottom: 3px;
  justify-content: center;
}

.boxClose {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3px;
}
