.main {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px 10px 10px;
  color: var(--primaryText);
  margin: 0 auto;
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  gap: 20px;
}

.companyBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}

.createCompany {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid var(--textBase);
}

.title {
  color: var(--textBase);
}

.createCompanyBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px 0;
  gap: 5px;
}

.btnSave {
  padding: 5px;
  border: none;
  border-radius: 6px;
  max-width: 500px;
  width: 35%;
  cursor: pointer;
  border: 1px solid var(--textBase);
}

.btnSave h4 {
  color: var(--primaryColor);
}

.btnSave:hover {
  border: 1px solid var(--primaryColor);
}

.btnSave:hover h4 {
  color: var(--primaryText);
}

.companies {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.company {
  width: 100%;
}

.companyContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 10px 10px 0 10px;
}

.companyInfos {
  width: 100%;
  display: flex;
  color: var(--primaryText);
  justify-content: space-between;
  gap: 5px;
}

.inputComp {
  width: 100%;
}

.inputMaxUser {
  width: 70px;
}

.companyInfosUsers {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  color: var(--textBase);
}

.btnCompany {
  padding: 5px;
  border: none;
  border-radius: 6px;
  max-width: 500px;
  width: 35px;
  cursor: pointer;
  border: 1px solid var(--textBase);
}

.btnCompEnv:hover {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

.btnCompDel:hover {
  color: var(--errorColor);
  border: 1px solid var(--errorColor);
}

.createNote {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.createNote span {
  color: var(--textBase);
}

.formNote {
  width: 100%;
  min-height: 70px;
  color: var(--primaryText);
  resize: none;
  padding: 8px 12px;
  line-height: 1.4;
}

.noteBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.btnLogout {
  margin-top: 10px;
  color: var(--errorColor);
}

.btnLogout:hover {
  background-color: var(--errorColor);
  color: var(--primaryText);
  border: 1px solid var(--primaryText);
}

.docs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;

  color: var(--primaryText);
}

.doc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
  max-width: 800px;
}

.inputAndPercent {
  display: flex;
}

.inputWrapper {
  position: relative;
  display: inline-block;
}

.inputValue {
  display: flex;
  align-items: center;
  padding: 5px;
  max-width: 100px;
  color: var(--primaryText);
}

.inputPercent {
  padding-right: 20px;
  align-items: center;
  padding: 5px 23px 5px 5px;
  max-width: 100px;
  color: var(--primaryText);
  text-align: right;
  gap: 5px;
}

.suffix {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--primaryText);
}

.docs .btnSave {
  color: var(--primaryText);
}

@media (max-width: 768px) {
  .main {
    padding: 20px 0;
  }

  .header {
    padding-left: 20px;
  }

  .content {
    flex-direction: column;
  }

  .contentBox {
    padding: 0 10px;
    margin-bottom: 20px;
  }

  .companyBox {
    padding: 10px;
  }

  .btnSave {
    width: 200px;
  }

  .btnLogout {
    width: 200px;
  }
}
