.main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  background-color: var(--mainBackground);
  overflow-y: auto;

  /* scrollbar-color: var(--cor--secundaria-claro) var(--cor--principal); */
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px 10px 10px;
  color: var(--primaryText);
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
}

.createCompany {
  width: 100%;
  gap: 5px;
  margin: 5px 0;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--cardBackground);
  box-shadow: -3px 3px 10px var(--shadowColor);
  border: 1px solid var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 3px;
}

.createCompanyBox {
  display: flex;
  width: 100%;
  gap: 5px;
}

.labelCreateCompany {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  border: 1px solid var(--shadowColor);
  background: var(--cardBackground2);
  transition: 200ms;
  width: 100%;
}

.labelCreateCompany::placeholder {
  outline: none;
  color: var(--sidebarBackground);
}

.btnSave {
  color: var(--primaryText);
  background: var(--cardBackground);
  width: 200px;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: -3px 3px 10px var(--shadowColor);
  border: 1px solid var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnSave:hover {
  color: var(--primaryColor);
  background: var(--cardBackgroundHover);
  border: 1px solid var(--primaryColor);
}

.companies {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

.company {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: var(--cardBackground);
  border-radius: 5px;
  box-shadow: -3px 3px 10px var(--shadowColor);
  border: 1px solid var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.companyContent {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.companyInfos {
  width: 100%;
  max-width: 800px;
  display: flex;
  color: var(--primaryText);
  justify-content: space-between;
  border-radius: 5px;
  gap: 15px;
}

.btnOpenCompany {
  color: var(--primaryText);
  background: var(--cardBackground);
  width: 40px;
  height: 40px;
  margin-left: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: -3px 3px 10px var(--shadowColor);
  border: 1px solid var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  cursor: pointer;
}

.btnOpenCompany:hover {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  background: var(--cardBackgroundHover);
}

.btnLogout {
  margin-top: 20px;
  padding: 5px;
  color: var(--primaryText);
  background: var(--cardBackground);
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
  box-shadow: -3px 3px 10px var(--shadowColor);
  border: 1px solid var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnLogout:hover {
  color: var(--errorColor2);
  background: var(--cardBackgroundHover);
  border: 1px solid var(--errorColor2);
}
