.main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
  background-color: var(--mainBackground);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px 10px 10px;
  color: var(--primaryText);
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.headerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
  max-width: 1200px;
  gap: 10px;
}

.addDeal {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cardBackground);
  border-radius: 20px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: var(--primaryText);
  font-size: 1.3rem;
}

.addDeal:hover {
  background: var(--cardBackgroundHover);
}

.statusCard {
  width: calc(100% - 30px);
  margin: 10px 15px;
  padding: 10px;
  border-radius: 10px;
}

.statusName {
  width: 100%;
  text-align: center;
  color: var(--secondaryText);
}

.status_approved {
  background: var(--cardBackgroundHover);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.status_under_review {
  background: var(--cardBackgroundHover);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.status_missing_documents {
  background: var(--cardBackgroundHover);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.status_interested {
  background: var(--cardBackgroundHover);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.status_rejected {
  background: var(--cardBackgroundHover);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.status_dropped_out {
  background: var(--cardBackgroundHover);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.dealList {
  display: grid;
  gap: 15px;
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  padding: 0 20px;

  grid-template-columns: repeat(1, 1fr);
}

.deal {
  color: var(--primaryText);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: none;

  background: var(--cardBackground2);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.deal:hover {
  background: var(--cardBackground2Hover);
}

.titleCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lastContact {
  color: var(--primaryColor);
}

.btnPriorityActiveCard {
  background: transparent;
  border: none;
  text-decoration: none;
  color: var(--primaryColor);
  cursor: pointer;
}

.dealDelete {
  background: var(--errorColorD);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: none;
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.dealDelete:hover {
  background: var(--errorColorDHover);
}

.noItens {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.noItens p {
  color: var(--primaryText);
}

@media (min-width: 768px) {
  .dealList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .dealList {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 768px) {
  .header h1 {
    font-size: x-large;
  }

  .searchbar {
    width: 90%;
  }

  .dealList {
    gap: 10px;
  }
}
