.overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 999;
  overflow-y: auto;
  overflow-y: hiden;
  padding: 20px 0;
  scrollbar-color: var(--primaryColor) var(--sidebarBackground);
}

.overlay h2 {
  color: var(--primaryText);
}

.overlay h3 {
  color: var(--primaryText);
  align-items: start;
  font-size: var(--font-5);
  font-weight: 400;
  width: 100%;
}

.overlay h6 {
  color: var(--primaryText);
  font-size: var(--font-5);
  font-weight: 400;
}

.overlay input,
.overlay select {
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  color: var(--primaryText);
  background: var(--cardBackground);
}

.overlay select option {
  background: var(--mainBackground);
}

.overlay select option:checked,
.overlay select option:focus {
  background: var(--tercearyText);
  color: var(--sidebarBackground);
}

.overlay select:hover,
.overlay input:focus,
.overlay input:active,
.overlay input:hover {
  background: var(--cardBackgroundHover);
}

.modal {
  background: var(--mainBackground);
  padding: 1.8rem 1.8rem 1rem 1.8rem;
  gap: 4px;
  border-radius: 10px;
  max-width: 550px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.overlay h2.positive {
  color: var(--warningColor2);
}
.overlay h2.negative {
  color: var(--errorColor2);
}
.overlay h2.ok {
  color: var(--successColor);
}

.title {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
}

.error {
  color: var(--errorColor2);
  font-size: var(--font-5);
}

.paymentTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.payment {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.btnInstallment {
  border: none;
  cursor: pointer;
  color: var(--primaryText);
  font-size: 1rem;
}

.btnInstallmentActive {
  border: none;
  cursor: pointer;
  color: var(--tercearyText);
  font-size: 1rem;
}

.nameBtnInstallment {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  gap: 10px;
}

.btnCommission {
  padding: 8px;
  color: var(--primaryText);
  background: var(--cardBackground);
  font-size: var(--font-5);
  border: 1px solid var(--shadowColor);
  border-radius: 20px;
  cursor: pointer;

  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnActive {
  padding: 8px;
  color: var(--primaryColor);
  background-color: var(--cardBackground);
  font-size: var(--font-5);
  border: 1px solid var(--shadowColor);
  border-radius: 20px;
  cursor: pointer;

  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnCommission:hover {
  background: var(--cardBackgroundHover);
}

.btnActive:hover {
  border: 1px solid var(--primaryColor);
  background-color: var(--cardBackgroundHover);
}

.boxCommissionShare {
  margin-top: 25px;
  width: 100%;
}

.splitCommissionTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.addSplit {
  background: transparent;
  border: none;
  font-size: 1.3rem;
  color: var(--tercearyText);
  cursor: pointer;
}

.border {
  border-bottom: solid 1px var(--sidebarBackground);
  margin-bottom: 10px;
}

.removeSplit {
  background: transparent;
  border: none;
  font-size: 1.3rem;
  color: var(--primaryText);
  cursor: pointer;
}

.boxSplitCommission {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.btnCancelAndConfirm {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.btnConfirm,
.btnCancel {
  padding: 5px;
  color: var(--primaryText);
  background: var(--cardBackground);
  font-size: 1.3rem;
  border: solid 1px var(--shadowColor);
  border-radius: 20px;
  width: 200px;
  cursor: pointer;
  margin-top: 20px;

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnCancel:hover {
  background: var(--cardBackgroundHover);
  border: solid 1px var(--errorColor2);
  color: var(--errorColor2);
}

.btnConfirm:hover {
  background: var(--cardBackgroundHover);
  border: solid 1px var(--primaryColor);
  color: var(--primaryColor);
}

.footerCard {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
}

.footerCard h6 {
  font-size: x-small;
}

@media (max-width: 768px) {
  .overlay {
    padding: 10px;
  }

  .overlay h3 {
    text-align: center;
  }

  .nameBtnInstallment h2,
  .splitCommissionTitle h2 {
    font-size: var(--font-3);
  }

  .modal {
    padding: 10px 15px;
    height: 100vh;
    justify-content: space-between;
  }

  .title {
    justify-content: start;
  }

  .title h4 {
    font-size: var(--font-5);
  }

  .btnCancelAndConfirm {
    width: 100%;
  }

  .btnConfirm,
  .btnCancel {
    padding: 5px;
    font-size: var(--font-3);
  }
}
