.menuButton {
  position: fixed;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--primaryText);
  z-index: 1000;
  cursor: pointer;
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 60px;
  height: 100%;
  padding: 10px 0 10px 10px;
  box-sizing: border-box;
  transition: width 0.4s ease, padding-right 0.4s ease;

  background-color: var(--sidebarBackground);
  z-index: 501;
}

.sidebar:hover {
  width: 210px;
  padding-right: 10px;
}

.contentbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  border-radius: 5px;
  box-shadow: -3px 3px 10px var(--shadowColor);
  background-color: var(--inputColor);
  padding-bottom: 10px;
}

.sidebarMenu {
  width: 100%;
  padding: 10px;
}

.sidebar:hover .sidebarMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo {
  width: 100px;
  border: 2px solid var(--primaryText);
  border-radius: 20px;
  padding: 3px;
  cursor: pointer;
}

.sidebarMenu .logoActive {
  color: var(--tercearyText);
}

.sidebarMenu .logoActive .logo,
.sidebar:hover .sidebarMenu .logoActive .logo {
  border: 2px solid var(--tercearyText);
}

.sidebar:hover .iconContainer:hover .logo {
  border: 2px solid var(--secondaryText);
}

.sidebar:hover .iconContainer:hover .logoText {
  color: var(--secondaryText);
}

.sidebar:hover .logo {
  padding-top: 0;
  padding-bottom: 6px;
}

.logoText {
  cursor: pointer;
  writing-mode: vertical-lr;
  font-size: 1.2rem;
  transition: writing-mode 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.sidebar:hover .logoText {
  text-align: center;
  writing-mode: horizontal-tb;
  font-size: 1.5rem;
}

.sidebarActions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.sidebarSettings {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.sidebar:hover .sidebarActions {
  padding: 0 9px;
  align-items: start;
}

.sidebar:hover .sidebarSettings {
  padding: 0 9px;
  justify-content: start;
}

.iconContainer {
  display: flex;
  gap: 30px;
  width: 100%;
  transition: all 0.3s ease;
}

.active {
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  padding-right: 5px;
  width: 45px;
  height: 45px;
  border-radius: 5px 0 0 5px;
  transition: all 0.3s ease;
  background-color: var(--mainBackground);
}

.sidebar:hover .active {
  align-items: start;
  justify-content: start;
  margin-left: 0;
  padding-right: 0;
  width: 100%;
  height: auto;
  border-radius: 0;
  background-color: transparent;
  color: var(--tercearyText);
}

.linkText {
  opacity: 0;
  display: none;
}

.sidebar:hover .linkText {
  display: flex;
  opacity: 1;
}

.sidebar a {
  text-decoration: none;
  color: var(--primaryText);
}

.logos {
  font-size: 2rem;
  cursor: pointer;
  color: var(--primaryText);
  transition: color 0.2s ease;
}

.sidebar:hover .active .logos {
  color: var(--tercearyText);
}

.sidebar:hover .iconContainer:hover .logos,
.sidebar:hover .iconContainer:hover .linkText {
  color: var(--secondaryText);
}

@media (max-width: 768px) {
  .header {
    background-color: var(--sidebarBackground);
    height: 65px;
    padding: 15px;
    display: flex;
    align-items: center;
  }

  .logoH {
    width: 100px;
    border: 2px solid var(--primaryText);
    border-radius: 20px;
    padding: 3px 3px 5px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .logoTextH {
    font-size: 1.5rem;
    color: var(--primaryText);
  }

  .logoH:hover {
    border: 2px solid var(--secondaryText);
    color: var(--secondaryText);
  }

  .menuButton {
    display: block;
  }

  .menuButton:hover {
    color: var(--secondaryText);
  }

  .sidebar:hover {
    width: 100%;
    padding-right: 0;
  }

  .sidebar:hover .sidebarMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .logoText,
  .logoText:hover,
  .sidebar:hover .logo {
    writing-mode: horizontal-tb;
    padding: 3px 0;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: none;
  }

  .sidebar:hover .sidebarActions,
  .sidebar:hover .sidebarSettings {
    align-items: center;
    justify-content: center;
  }

  .iconContainer {
    align-items: center;
    justify-content: center;
  }

  .active,
  .sidebar:hover .active {
    align-items: center;
    justify-content: center;
    margin-left: 0;
    padding-right: 0;
    width: 100%;
    height: auto;
    border-radius: 0;
    background-color: transparent;
    color: var(--tercearyText);
  }

  .linkText,
  .sidebar:hover .linkText {
    display: flex;
    opacity: 1;
  }

  .logos {
    font-size: 2rem;
    cursor: pointer;
    color: var(--primaryText);
    transition: color 0.2s ease;
  }

  .sidebar .active .logos,
  .sidebar:hover .active .logos {
    color: var(--tercearyText);
  }

  .sidebar {
    left: -1200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    opacity: 0;
    display: none;
    transition: none !important;
    z-index: 999;
  }

  .sidebar:hover {
    width: 100%;
    padding: 10px;
  }

  .sidebarOpen {
    display: block;
    opacity: 1;
    left: 0;
  }

  /* Quando o menu está aberto, escurece o fundo */
  .sidebarOpen::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
}
