.mobile {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 60px;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition:
    width 0.4s ease,
    padding-right 0.4s ease;

  background-color: var(--secondaryBackground);
  z-index: 501;
  overflow: visible;
}

.sidebar a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.sidebar:hover:not(.sidebarOpen) {
  width: 210px;
  padding-right: 10px;
  background-color: var(--sidebarBg);
  backdrop-filter: blur(7px);
  border-right: 1px solid var(--sidebarBg);
}

.contentbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.sidebarMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 5px;
}

.menuButton {
  display: none;
}
.sidebar:hover .sidebarMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoAll {
  width: auto;
  height: 60px;
  color: var(--textBase);
  transition: all 0.3s ease;
  display: block;
}

.logoHome {
  width: auto;
  height: 60px;
  color: var(--primaryColor);
  transition: all 0.3s ease;
}

.sidebar:hover .logoAll,
.sidebar:hover .logoHome {
  transform: rotate(270deg);
}

.nameLogo {
  display: none;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.sidebar:hover .nameLogo {
  display: block;
  text-align: center;
  transition: all 0.3s ease;
  font-size: 1.4rem;
  margin-top: -14px;
  color: var(--textBase);
}

.sidebar:hover .logo:hover .logoAll {
  color: var(--primaryColor);
}

.sidebarActions {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  padding: 0 9px;
  gap: 15px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logos {
  font-size: 2rem;
  cursor: pointer;
  color: var(--textBase);
  transition: color 0.2s ease;
}

.sidebar .active .logos {
  color: var(--primaryText);
}

.sidebar:hover .active {
  color: var(--textBase);
}

.sidebar a {
  text-decoration: none;
  color: var(--textBase);
}

.sidebar:hover a .active {
  color: var(--primaryText);
}

.sidebar:hover a:hover .linkText {
  position: relative;
}

.sidebar:hover a:hover .logos {
  animation: blink 3s ease-in-out infinite;
}

.sidebarSettings {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  padding: 0 9px;
}

.sidebar:hover .sidebarSettings {
  padding: 0 9px;
  justify-content: start;
}

.linkText {
  display: none;
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.12s ease;
  white-space: nowrap;
}

.sidebar:hover .linkText {
  display: block;
  opacity: 1;
  visibility: visible;
  position: relative;
  transition-delay: 0.25s;
}

.hoverUnderline {
  position: relative;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}

.hoverUnderline:hover {
  transform: translateY(-2px);
}

.hoverUnderline .linkText::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--primaryColor);
  transition: width 0.3s ease;
}

.hoverUnderline:hover .linkText::after {
  width: 100%;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

@media (max-width: 768px) {
  body {
    margin-left: 0 !important;
  }

  .sidebar:hover .linkText {
    display: none;
  }

  .sidebar:hover .logoAll,
  .sidebar:hover .logoHome {
    transform: none;
  }

  .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 0;
    width: 100%;
    padding: 15px 30px;
    background-color: var(--secondaryBackground);
    height: 65px;
  }

  .mobile .logo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: -5px;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0s ease;

    z-index: 999;
  }

  .sidebar,
  .sidebar:hover {
    width: 100%;
  }

  .sidebarOpen {
    opacity: 1;
    pointer-events: all;

    background-color: var(--sidebarBg);
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px);
  }

  .sidebarOpen .contentbar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    max-width: 320px;
    height: auto;
    max-height: 85vh;
    background-color: var(--mainBg);
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto;
  }

  .sidebar .contentbar .sidebarMenu {
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: space-between;
    padding-top: 0;
    margin-bottom: 10px;
  }

  .gapNull {
    width: 25.6px;
  }

  .logoAll,
  .logoHome {
    height: 40px;
    transform: rotate(90deg) !important;
  }

  .sidebarMenu .logoAll,
  .sidebarMenu .logoHome {
    height: 60px;
  }

  .nameLogo {
    display: block;
    margin-top: -10px;
    color: var(--textBase);
  }

  .mobile .logo .nameLogo,
  .sidebar:hover .mobile .logo .nameLogo {
    font-size: 1rem;
  }

  .sidebarMenu .logo .nameLogo,
  .sidebar:hover .sidebarMenu .logo .nameLogo {
    margin-top: -13px;
    margin-bottom: 13px;
    font-size: 1.4rem;
  }

  .nameLogo,
  .sidebar:hover .nameLogo {
    display: block;
    font-size: 1.2rem;
    margin-top: -10px;
    color: var(--textBase);
  }

  .sidebar:hover .nameLogo,
  .sidebarOpen .nameLogo {
    display: block;
  }

  .menuButton {
    display: block;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--textBase);
  }

  .sidebar .contentbar .sidebarActions,
  .sidebar .contentbar .sidebarSettings {
    align-items: center;
    justify-content: center;
  }

  .sidebar .contentbar .sidebarSettings {
    margin-top: 15px;
  }

  .sidebar .contentbar .active .linkText {
    color: var(--primaryColor);
  }

  .linkText,
  .sidebar:hover .linkText {
    display: flex;
    opacity: 1;
    visibility: visible;
  }
}
