.main {
  width: 100%;
}

.boxSteps {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  gap: 20px;
  justify-content: space-around;
}

.finishedDealsByYearWrap {
  width: 100%;
}

.cashStatsCard {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 350px;
  padding: 10px;
  border-radius: 8px;
  justify-content: space-between;
}

.cardGoal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--primaryText);
  background: var(--mainBackground);
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  border: 1px solid var(--textBase);
}

.btnGoal {
  border: none;
  color: var(--textBase);
  font-size: 1rem;
  cursor: pointer;
  margin-left: 5px;

  transition: all 0.25s ease;
}

.btnGoal:hover {
  color: var(--primaryColor);
  transform: scale(1.3) rotate(-5deg);
}

.btnDelGoal {
  color: var(--errorColor);
}

.btnDelGoal:hover {
  color: var(--errorColor2);
}

.cardGoal input {
  border: none;
  outline: none;
  width: 90%;
  color: var(--textBase);
  text-align: center;
  border: 1px solid var(--textBase);
  border-radius: 2px;
  padding: 2px 5px;
  margin-top: 5px;
}

.cardGoal input:focus,
.cardGoal input:active,
.cardGoal input:hover {
  border: 1px solid var(--primaryColor) !important;
}

.infoCard {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--textBase);
}

.card h5 {
  color: var(--primaryText);
}

.card p {
  text-align: center;
  color: var(--textBase);
}

.card:last-child {
  border: none;
}

.card .received {
  color: var(--primaryColor);
}

.card .toReceived {
  color: var(--errorColor);
}

.yearButtons {
  display: flex;
  justify-content: space-around;
}

.yearBtn {
  text-align: center;
  padding: 8px 12px;
  color: var(--mainBackground);
  border: 1px solid var(--mainBackground);
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.yearBtn:hover {
  background: var(--mainBackground);
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

.yearBtnActive {
  background-color: var(--mainBackground);
  color: var(--textBase);
  border: 1px solid var(--primaryColor);
}

.monthsList {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  padding: 8px;
  border-radius: 5px;
  width: 100%;
  min-height: 44px;
}

.monthToggle,
.monthToggleActive {
  color: var(--textBase);
  background: var(--sidebarBackground);
  border: 1px solid var(--mainBackground);
  border-radius: 20px;
  padding: 5px 10px 6px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.monthToggle:hover,
.monthToggleActive:hover {
  color: var(--mainBackground);
  background: var(--primaryColor);
}

.monthToggleActive {
  color: var(--primaryColor);
}

.dealsOfMonth {
  display: grid;
  gap: 15px;
  width: 100%;
  margin: 20px auto;
  padding: 0;

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.cardDeals {
  color: var(--primaryText);
  border-radius: 8px;
  padding: 8px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.cardDeals:hover {
  background: var(--cardBackground);
}

.pendingSection {
  width: 35%;
  color: var(--primaryText);
  border-radius: 5px;
  padding: 15px;
}

.pendingSection h4 {
  text-align: center;
}

.pendingList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.pendingCard {
  width: 100%;
  border-radius: 8px;
  margin: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: var(--mainBackground);
  border: 1px solid var(--textBase);
}

.pendingCard p {
  color: var(--primaryColor);
}

.pendingCard span {
  color: var(--textBase);
}

.pendingCard:hover {
  border: 1px solid var(--primaryColor);
}

@media (max-width: 768px) {
  .boxSteps {
    flex-direction: column;
    align-items: center;
  }

  .cashStatsCard {
    width: 100%;
  }

  .pendingSection {
    width: 100%;
    margin-bottom: 20px;
  }

  .dealsOfMonth {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
