.main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  background-color: var(--mainBackground);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px 10px 10px;
  color: var(--primaryText);
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
}

.serchClient {
  display: flex;
  flex-direction: row;
  width: 400px;
  padding-right: 15px;
  padding-left: 3px;
  border-radius: 50px;
  background: var(--cardBackground);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.serchClient:hover {
  background: var(--cardBackgroundHover);
}

.btnSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: var(--primaryText);
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.serchClient input {
  width: 100%;
  border: none;
  outline: none;
  color: var(--primaryText);
}

.serchClient input::placeholder {
  color: var(--sidebarBackground);
  opacity: 1;
}

.serchClient input:focus,
.serchClient input:active,
.serchClient input:hover {
  border: none !important;
  box-shadow: none !important;
}

.headerIcons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.btnTeam {
  background: var(--cardBackground);
  border-radius: 20px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: var(--primaryText);
  font-size: 1.3rem;

  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnTeam:hover {
  background: var(--cardBackgroundHover);
}

.btnTeamActive {
  color: var(--primaryColor);
}

.btnPriority {
  background: transparent;
  border: none;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
}

.btnPriorityActive {
  background: transparent;
  border: none;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primaryColor);
  cursor: pointer;
}

.addClient {
  background: var(--cardBackground);
  border-radius: 20px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: var(--primaryText);
  font-size: 1.3rem;

  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.addClient:hover {
  background: var(--cardBackgroundHover);
}

.clientList {
  display: grid;
  gap: 15px;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;

  grid-template-columns: repeat(1, 1fr);
}

.client {
  background: var(--cardBackground);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: none;

  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.clientDelete {
  background: var(--errorColorD);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: none;

  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.clientDelete:hover {
  background: var(--errorColorDHover);
}

.clientPriority {
  background: var(--cardBackground);
  border: solid 1px var(--primaryColor);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.client:hover {
  background: var(--cardBackgroundHover);
}

.btnPriorityCard {
  background: transparent;
  border: none;
  text-decoration: none;
  color: var(--primaryText);
  cursor: pointer;
}

.btnPriorityActiveCard {
  background: transparent;
  border: none;
  text-decoration: none;
  color: var(--primaryColor);
  cursor: pointer;
}

.box label input {
  margin-left: auto;
}

.noItens {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.noItens p {
  color: var(--primaryText);
}

@media (min-width: 1200px) {
  .clientList {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 768px) {
  .clientList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .header h1 {
    font-size: x-large;
  }

  .headerContent {
    gap: 20px;
  }

  .headerIcons {
    gap: 8px;
  }

  .clientList {
    gap: 10px;
  }
}
