.overlay {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.labelSetting {
  margin-top: 20px;
  width: 80%;
  max-width: 500px;
  color: var(--primaryText);
}

.title {
  font-size: 18px;
}

.btnSetting {
  margin-top: 20px;
  color: var(--textBase);
  max-width: 500px;
  width: 80%;
  cursor: pointer;
  border: 1px solid var(--shadowColor);
}

.btnSettingActive {
  border: 1px solid var(--primaryColor);
}

.active {
  color: var(--primaryColor);
}

.labelsSetting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  max-width: 600px;
}

.labelsSetting p {
  color: var(--primaryColor);
}

.labelsSetting span {
  color: var(--primaryText);
}

.btnSave {
  margin-top: 20px;
  padding: 5px;
  color: var(--primaryColor);
  border: none;
  border-radius: 6px;
  max-width: 500px;
  width: 80%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--textBase);
}

.btnSave:hover {
  color: var(--primaryText);
  border: 1px solid var(--primaryColor);
}
