.main {
  display: flex;
  width: 100%;
  justify-content: center;
}

.contant {
  display: flex;
  margin-top: 13px;
  width: 90%;
  max-width: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid var(--shadowColor);
  border-radius: 6px;
}

.contant h5 {
  color: var(--primaryColor);
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  cursor: pointer;
}

.btnDefaultDark {
  color: #dbf017;
  background: linear-gradient(135deg, #141519, #1a1b1e);
  border: 1px solid #dbf017;
}

.btnDefaultDark:hover {
  color: #141519;
  background: #dbf017;
}

.btnBlueDark {
  color: #18b2ef;
  background: linear-gradient(135deg, #7dcff0, #1f2c32);
  border: 1px solid #18b2ef;
}

.btnBlueDark:hover {
  background: linear-gradient(135deg, #1f2c32, #7dcff0);
}

.btnPinkDark {
  color: #ff66b3;
  background: linear-gradient(135deg, #f79ac0, #2b1824);
  border: 1px solid #ff66b3;
}

.btnPinkDark:hover {
  background: linear-gradient(135deg, #2b1824, #f79ac0);
}

.btnDefault {
  color: #4a4b3d;
  background: linear-gradient(135deg, #dbf017, #d9dda5);
  border: 1px solid #4a4b3d;
}

.btnDefault:hover {
  background: linear-gradient(135deg, #d9dda5, #dbf017);
}

.btnBlue {
  color: #131c21;
  background: linear-gradient(135deg, #7dcff0, #e5f2f7);
  border: 1px solid #131c21;
}

.btnBlue:hover {
  background: linear-gradient(135deg, #e5f2f7, #7dcff0);
}

.btnPink {
  color: #261420;
  background: linear-gradient(135deg, #f79ac0, #fce8f1);
  border: 1px solid #261420;
}

.btnPink:hover {
  background: linear-gradient(135deg, #fce8f1, #f79ac0);
}

@media (max-width: 768px) {
  .contant {
    margin-top: 0;
  }
}
