.main {
  display: flex;
  width: 100%;
  justify-content: center;
}

.contant {
  display: flex;
  margin-top: 13px;
  width: 90%;
  max-width: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid var(--shadowColor);
  border-radius: 6px;
}

.contant h5 {
  color: var(--primaryColor);
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  border: 1px solid var(--shadowColor);
  cursor: pointer;
}

.btnDefaultDark {
  color: #dbf017;
  background: #141519;
}

.btnDefaultDark:hover {
  color: #141519;
  background: #dbf017;
}

.btnBlueDark {
  color: #18b2ef;
  background: #1f2c32;
}

.btnBlueDark:hover {
  color: #1f2c32;
  background: #18b2ef;
}

.btnRedDark {
  color: #ff3b3b;
  background: #141519;
}

.btnRedDark:hover {
  color: #141519;
  background: #ff3b3b;
}

.btnPinkDark {
  color: #ff66b3;
  background: #2b1824;
}

.btnPinkDark:hover {
  color: #2b1824;
  background: #ff66b3;
}

.btnDefault {
  color: #869503;
  background: #c5c8ba;
}

.btnDefault:hover {
  color: #c5c8ba;
  background: #869503;
}

.btnBlue {
  color: #123c63;
  background: #c4ced2;
}

.btnBlue:hover {
  color: #c4ced2;
  background: #123c63;
}

.btnRed {
  color: #ff3b3b;
  background: #c5c8ba;
}

.btnRed:hover {
  color: #c5c8ba;
  background: #ff3b3b;
}

.btnPink {
  color: #ff66b3;
  background: #d8c5cd;
}

.btnPink:hover {
  color: #d8c5cd;
  background: #ff66b3;
}

@media (max-width: 768px) {
  .contant {
    margin-top: 0;
  }
}
