.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 999;
}

.overlay h2 {
  color: var(--primaryText);
}

.overlay h3 {
  color: var(--primaryText);
  align-items: start;
  font-size: var(--font-5);
  font-weight: 400;
  width: 100%;
}

.overlay h6 {
  color: var(--sidebarBackground);
  font-size: var(--font-5);
  font-weight: 400;
}

.overlay input,
.overlay select {
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid var(--shadowColor);
  outline: none;
  color: var(--primaryText);
  background: var(--cardBackground);

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.overlay input:focus,
.overlay input:active,
.overlay input:hover {
  background: var(--cardBackgroundHover);
}

.overlay select option {
  background: var(--mainBackground);
}

.overlay select option:checked,
.overlay select option:focus {
  background: var(--tercearyText);
  color: var(--sidebarBackground);
}

.overlay input::placeholder {
  color: var(--sidebarBackground);
}

.overlay select:hover,
.overlay input:focus,
.overlay input:active,
.overlay input:hover {
  background: var(--cardBackgroundHover);
}

.modal {
  background: var(--mainBackground);
  padding: 1.8rem 1.8rem 1rem 1.8rem;
  border-radius: 10px;
  width: 1100px;
  height: 650px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px 10px 0;
  overflow-y: auto;
  scrollbar-color: var(--primaryColor) var(--sidebarBackground);
}

.innerModal {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-grow: 1;
}

.titleCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalLeft {
  padding: 0 1rem 1rem 1.8rem;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.modalLeft h1 {
  color: var(--tercearyText);
}

.modalRight {
  padding: 1.8rem 1.8rem 1rem 1.8rem;
  background: var(--cardBackground2);
  border-radius: 10px;
  gap: 4px;
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay .modalRight input {
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  background: var(--cardBackground);
}

.closeBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
}

.error {
  color: var(--errorColor2);
  font-size: var(--font-5);
}

.paymentTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.paymentBox {
  margin: 5px 0;
  text-align: center;
}

.paymentMethodStyle {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 5px;
}

.btnInstallment {
  border: none;
  cursor: pointer;
  color: var(--primaryText);
  font-size: 1rem;
}

.btnInstallmentActive {
  border: none;
  cursor: pointer;
  color: var(--primaryText);
  font-size: 1rem;
}

.nameBtnInstallment {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  gap: 10px;
}

.modalLeft h4 {
  color: var(--primaryText);
}

.addDoc input::placeholder,
.addNote input::placeholder {
  color: var(--primaryText);
}

.docCostSection h3,
.noteSection h3 {
  color: var(--primaryText);
}

.docCostSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  color: var(--primaryText);
  justify-content: flex-start;
  height: 45%;
  margin-bottom: 10px;
}

.docCost {
  width: 100%;
  text-align: start;
}

.addDoc {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.btnSave {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
}

.btnSave:hover {
  color: var(--primaryColor);
}

.addDoc,
.addNote {
  width: 100%;
  margin-bottom: 10px;
}

.docItem h3 {
  text-align: start;
}

.btnEditDocValue {
  border: none;
  color: var(--tercearyText);
  font-size: 0.9rem;
  cursor: pointer;
}

.btnEditDocValue:hover {
  color: var(--primaryColor);
}

.btnDelDocValue {
  border: none;
  margin-left: 5px;
  color: var(--errorColor);
  font-size: 0.9rem;
  cursor: pointer;
}

.btnDelDocValue:hover {
  color: var(--errorColor2);
}

.noteSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  height: 45%;
  margin-top: 10px;
}

.addDoc,
.addNote {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.docList,
.noteList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  max-height: 150px;
  padding: 5px;
  border-radius: 5px;
  background: var(--cardBackground);
  justify-content: space-between;
  scrollbar-color: var(--primaryColor) var(--sidebarBackground);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.docItem,
.noteItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: solid 1px var(--shadowColor);
}

.btnBackStep,
.btnUpdate,
.btnNextStep {
  text-align: center;
  padding: 5px;
  color: var(--primaryText);
  font-size: 0.8rem;
  border: 1px solid var(--shadowColor);
  border-radius: 20px;
  width: 150px;
  cursor: pointer;
  background: var(--cardBackground);
}

.btnBackStep:hover {
  background: var(--cardBackgroundHover);
  color: var(--errorColor2);
  border: 1px solid var(--errorColor2);
}

.btnUpdate:hover {
  background: var(--cardBackgroundHover);
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

.btnNextStep:hover {
  background: var(--cardBackgroundHover);
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

.footerCard {
  display: flex;
  width: 100%;
}

.btnUpdateAndStep {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  width: 65%;
}

.updateBox {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  width: 35%;
}

.updateBox h6 {
  font-size: x-small;
}

.btnCommission {
  padding: 8px;
  color: var(--primaryText);
  border: 1px solid var(--shadowColor);
  background: var(--cardBackground);
  font-size: var(--font-5);
  border-radius: 20px;
  cursor: pointer;

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnActive {
  padding: 8px;
  color: var(--primaryColor);
  border: 1px solid var(--shadowColor);
  background: var(--cardBackground);
  font-size: var(--font-5);
  border-radius: 20px;
  cursor: pointer;

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnCommission:hover,
.btnActive:hover {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  background: var(--cardBackgroundHover);
}

.btnIsPaid {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 4px;
  color: var(--primaryText);
  background: var(--tercearyText);
  font-size: var(--font-5);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnIsPaidActive {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 4px;
  color: var(--primaryText);
  background-color: var(--tercearyText);
  font-size: var(--font-5);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boxCommissionShare {
  margin-top: 25px;
  width: 100%;
}

.splitCommissionTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.addSplit {
  background: transparent;
  border: none;
  font-size: 1.3rem;
  color: var(--primaryText);
  cursor: pointer;
}

.border {
  border-bottom: solid 1px var(--sidebarBackground);
  margin-bottom: 10px;
}

.removeSplit {
  background: transparent;
  border: none;
  font-size: 1.3rem;
  display: flex;
  align-items: end;
  justify-content: end;
  color: var(--primaryText);
  cursor: pointer;
}

.percentCommission {
  display: flex;
  align-items: center;
}

.boxSplitCommission {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .overlay {
    padding: 10px;
  }

  .modal {
    padding: 10px;
    margin: 0;
  }

  .innerModal {
    flex-direction: column;
    justify-content: space-between;
  }

  .titleCard h1 {
    font-size: var(--font-3);
  }

  .modalLeft {
    padding: 5px;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
  }

  .modalRight {
    padding: 10px;
    width: 100%;
  }

  .paymentBox {
    width: 100%;
  }

  .docCostSection h3,
  .noteSection h3 {
    color: var(--primaryText);
  }

  .docCostSection {
    height: auto;
    max-height: 220px;
  }

  .btnSave {
    font-size: 1.2rem;
  }

  .noteSection {
    height: auto;
    max-height: 220px;
  }

  .footerCard {
    flex-direction: column;
    width: 100%;
  }

  .btnUpdateAndStep {
    margin-top: 10px;
    width: 100%;
    gap: 10px;
  }

  .updateBox {
    margin: 10px 0;
    width: 100%;
  }

  .updateBox h6 {
    font-size: x-small;
  }

  .boxCommissionShare {
    margin: 15px 0 10px 0;
  }

  .splitCommissionTitle h2 {
    font-size: var(--font-4);
    text-align: center;
    width: 100px;
  }
}

@media (max-width: 480px) {
  .boxSplitCommission {
    flex-direction: column;
    align-items: stretch;
    gap: 3px;
    padding: 10px;
    background: var(--cardBackground);
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .paymentBox {
    align-items: center;
  }

  .btnIsPaid,
  .btnIsPaidActive {
    width: 100px;
    font-size: var(--font-6);
    justify-content: center;
  }

  .paymentBox {
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
  }

  .paymentBox h3 {
    width: 100%;
    text-align: center;
  }

  .paymentBox input,
  .paymentBox select {
    width: 100% !important;
  }
}
