.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: var(--mainBg);
  padding: 1.8rem 1.8rem 1rem 1.8rem;
  gap: 4px;
  border-radius: 10px;
  max-width: 450px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--textBase);
}

.titleCard {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.closeBtn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
}

.closeBtnInvisible {
  opacity: 0;
  visibility: hidden;
}

.line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2px;
  margin: 10px 0;
}

.input {
  width: 100%;
  max-width: 173px;
  height: 33px;
}

.inputSchedule {
  width: 100%;
  min-height: 80px;
  resize: none;
}

.btns {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.btnDeal {
  padding: 5px;
  color: var(--primaryText);
  border-radius: 6px;
  width: 100%;
  max-width: 120px;
  cursor: pointer;

  border: 1px solid var(--textBase);
}

.btnDelete:hover {
  background: var(--errorColor);
  border: 1px solid var(--errorColor);
}

.btnUpdate:hover {
  background: var(--mainBg);
  border: 1px solid var(--primaryColor);
}

.btnFinish:hover {
  background: var(--primaryColor);
  border: 1px solid var(--mainBg);
  color: var(--mainBg);
}

.finish {
  background: var(--logoColor);
  border: 1px solid var(--textBase);
  color: var(--textBase);
}

.active {
  color: var(--primaryColor);
}

.btnFinish:hover .active {
  color: var(--mainBg);
}

.btnFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  padding: 5px;
  color: var(--primaryText);
  background: var(--cardBackground);
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
  width: 250px;
  gap: 10px;
  cursor: pointer;
  box-shadow: -3px 3px 10px var(--shadowColor);
  border: 1px solid var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnFilterActive {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  padding: 5px;
  color: var(--primaryColor);
  background: var(--cardBackground);
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: -3px 3px 10px var(--shadowColor);
  border: 1px solid var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnFilter:hover,
.btnFilterActive:hover {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

@media (max-width: 768px) {
  .btnDeal {
    max-width: 100px;
  }

  .btnDelete {
    border: 1px solid var(--errorColor);
  }

  .btnFinish {
    border: 1px solid var(--primaryColor);
  }
}
