.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.overlay h2,
.overlayEdit h2 {
  color: var(--primaryText);
}

.overlay h3,
.overlayEdit h3 {
  color: var(--primaryText);
  align-items: start;
  font-size: var(--font-5);
  font-weight: 400;
  width: 100%;
}

.overlay input,
.overlay select,
.overlayEdit input,
.overlayEdit select {
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  background: var(--cardBackground);
  box-shadow: -3px 3px 10px var(--shadowColor);
  border: 1px solid var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.modalLeft input:focus,
.modalLeft input:active,
.modalLeft input:hover,
.overlayEdit input:focus,
.overlayEdit input:active,
.overlayEdit input:hover {
  background: var(--cardBackgroundHover);
}
.modalLeft select::placeholder,
.modalLeft input::placeholder {
  color: var(--sidebarBackground);
}

.modal {
  background: var(--mainBackground);
  padding: 1.8rem 1.8rem 1rem 1.8rem;
  gap: 4px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerModal {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.modalLeft {
  padding: 0 1rem 1rem 1.8rem;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.titleCard {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.closeBtn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
}

.error {
  color: var(--errorColor2);
  font-size: var(--font-5);
}

.paymentTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.payment {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.modalLeft h4 {
  color: var(--tercearyText);
}

.btns {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.btnSave {
  padding: 5px;
  color: var(--primaryText);
  background: var(--cardBackground);
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
  width: 250px;
  cursor: pointer;
  box-shadow: -3px 3px 10px var(--shadowColor);
  border: 1px solid var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnSave:hover {
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  background: var(--cardBackgroundHover);
}

.btnFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  padding: 5px;
  color: var(--primaryText);
  background: var(--cardBackground);
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
  width: 250px;
  gap: 10px;
  cursor: pointer;
  box-shadow: -3px 3px 10px var(--shadowColor);
  border: 1px solid var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnFilterActive {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  padding: 5px;
  color: var(--primaryColor);
  background: var(--cardBackground);
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: -3px 3px 10px var(--shadowColor);
  border: 1px solid var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnFilter:hover,
.btnFilterActive:hover {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}
