.input {
  color: var(--primaryText) !important;
  border: 1px solid var(--shadowColor) !important;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.input:hover {
  border: 1px solid var(--primaryColor) !important;
}

/* calendário inteiro */
.calendar {
  background: var(--mainBackground) !important;
  border: 1px solid var(--textBase) !important;
  border: none !important;
}

/* dias */
.day {
  color: var(--primaryText);
  border: 1px solid var(--mainBackground) !important;
}

/* HORAS */
:global(.react-datepicker-time__header) {
  color: var(--primaryText) !important;
  font-weight: 600;
}

:global(.react-datepicker__time-container) {
  color: var(--primaryText) !important;
}

:global(.react-datepicker__time) {
  background-color: var(--mainBackground) !important;
}

:global(.react-datepicker__time-box) {
  background-color: var(--mainBackground) !important;
}

:global(.react-datepicker__time-list-item:hover) {
  background-color: var(--mainBackground) !important;
  color: var(--primaryColor) !important;
}

:global(.react-datepicker__time-list-item--selected) {
  background-color: var(--primaryColor) !important;
  color: var(--mainBackground) !important;
}

:global(.react-datepicker__header) {
  background-color: var(--textBase) !important;
  border-bottom: 1px solid var(--primaryColor) !important;
}

:global(.react-datepicker__day--selected) {
  background-color: var(--primaryColor) !important;
  color: var(--mainBackground) !important;
}

:global(.react-datepicker__day--keyboard-selected) {
  background-color: var(--mainBackground) !important;
  color: var(--primaryText) !important;
  border: 1px solid var(--primaryColor) !important;
  border-radius: 6px;
}

:global(.react-datepicker__current-month) {
  color: var(--primaryText) !important;
  font-weight: 600;
}

:global(.react-datepicker__day-name) {
  color: var(--textBase) !important;
}

:global(.react-datepicker__day:hover) {
  background-color: var(--mainBackground) !important;
  border: 1px solid var(--textBase) !important;
  color: var(--primaryText) !important;
}

:global(.react-datepicker__day--today) {
  border: 1px solid var(--primaryColor) !important;
  border-radius: 6px;
}
