.page {
  overflow-x: clip;
}

.main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.boxSteps {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.methodHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: var(--textBase);
  gap: 5px;
}

.methodHeader h5 {
  color: var(--primaryText);
}

.methodWorkflow {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 5px;
  margin-top: 5px;
  overflow-x: auto;
}

.methodSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-between;
  color: var(--textBase);
}

.currentPage {
  color: var(--primaryColor);
}

.btnNote {
  color: var(--primaryText);
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.btnNote:hover {
  color: var(--primaryColor);
}

.btnNote:disabled {
  color: var(--textBase);
  cursor: default;
  opacity: 0.5;
}

.column {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  height: 100%;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  color: var(--textBase);
}

.dealList {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  flex: 1;
}

.card {
  width: 100%;
  color: var(--primaryText);
  border-radius: 8px 8px 0 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.card:hover {
  background: var(--cardBackground);
}

.lastContact {
  color: var(--textBase);
  font-size: 11px;
}

.noItens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 90px;
  color: var(--textBase);
}

@media (max-width: 768px) {
  .page {
    overflow-x: clip;
  }

  .dealList {
    gap: 6px;
    width: 100%;
    justify-content: space-between;
  }

  .methodWorkflow {
    flex-direction: column;
    overflow-x: clip;
  }

  .column {
    min-height: 50px;
  }

  .card {
    width: 100%;
    border-radius: 8px;
    max-height: 70px;
  }
}
