.main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
  background-color: var(--mainBackground);
  overflow-y: auto;
}

.page {
  width: 100%;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px 10px 10px;
  color: var(--primaryText);
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
}

.headerBtns {
  display: flex;
  align-items: center;
  height: 38px;
  flex-direction: row;
  gap: 20px;
}

.headerBtns input {
  padding: 8px;
  margin: 3px;
  border: 1px solid var(--shadowColor);
  border-radius: 5px;
  width: 100%;
  outline: none;
  color: var(--primaryText);
  background: var(--cardBackground);

  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.headerBtns input {
  padding: 8px;
  margin: 3px;
  border: 1px solid var(--shadowColor);
  border-radius: 5px;
  width: 100%;
  outline: none;
  color: var(--primaryText);
  background: var(--cardBackground);
}

.headerBtns input::placeholder {
  color: var(--sidebarBackground);
}

.headerBtns input:focus,
.headerBtns input:active,
.headerBtns input:hover {
  border: 1px solid var(--primaryColor);
  box-shadow: none !important;
  background: var(--cardBackgroundHover);
}

.btnSetting {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 100%;
  border-radius: 5px;
  background: var(--cardBackground);
  border: 1px solid var(--shadowColor);
  text-decoration: none;
  color: var(--primaryText);
  cursor: pointer;
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnSetting:hover {
  background: var(--cardBackgroundHover);
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  border-radius: 50px;
  padding: 0 10px;
  box-sizing: border-box;
}

.list p {
  color: var(--primaryText);
}

.list h2 {
  color: var(--tercearyText);
}

.clientList {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.dealsTable {
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  border-radius: 5px;
  color: var(--primaryText);
  border: 1px solid var(--shadowColor);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.dealsTable thead {
  background: var(--cardBackground2);
}

.dealsTable th {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid var(--shadowColor);
  font-weight: 600;
}

.dealsTable td {
  padding: 10px 12px;
  border-bottom: 1px solid var(--shadowColor);
  text-align: center;
}

.list td:first-child {
  text-align: start;
}

.dealsTable tbody tr:nth-child(odd) {
  background: var(--sidebarBackground);
}

.dealsTable tbody tr:nth-child(even) {
  background: var(--cardBackgroundHover);
}

@media (max-width: 768px) {
  .header h1 {
    font-size: x-large;
  }

  .headerContent {
    width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0 15px;
  }

  .headerBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    flex-wrap: nowrap;
  }

  .headerBtns input {
    width: 130px;
  }

  .btnSetting {
    width: 80px;
  }

  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 50px;
  }

  .list th {
    font-size: small;
  }

  .list td {
    font-size: x-small;
  }

  .dealsTable {
    width: 100%;
    max-width: 770px;

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }

  .dealsTable thead {
    background: var(--cardBackground2);
  }

  .dealsTable th {
    text-align: center;
    padding: 12px;
  }

  .dealsTable td {
    padding: 10px 5px;
  }

  .dealsTable tbody tr:nth-child(odd) {
    background: var(--sidebarBackground);
  }

  .dealsTable tbody tr:nth-child(even) {
    background: var(--cardBackgroundHover);
  }

  .dealsOfMonth {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
