.allTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.table {
  width: 90%;
  max-width: 1200px;
  border-collapse: collapse;
  border: 1px solid var(--cor--branco-6);
  border-radius: 5px;
}

.table thead {
  background-color: var(--cor--branco-4);
}

.table th {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid var(--cor--branco-4);
  font-weight: 600;
}

.table td {
  text-align: center;
}

.table td:first-child {
  text-align: left;
}

.table td {
  padding: 8px 10px;
  border-bottom: 1px solid var(--cor--branco-6);
}

.table tbody tr:nth-child(even) {
  background-color: var(--cor--branco-3);
}

.table td input[type="checkbox"] {
  margin: 0;
  transform: scale(1.1);
  cursor: pointer;
}

.btnsEnd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  padding: 10px 0;
  gap: 20px;
}

.btnReset {
  margin-top: 20px;
  padding: 5px;
  color: var(--cor--branco-2);
  background-color: var(--cor--alerta-vermelho-forte);
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
}

.btnSave {
  margin-top: 20px;
  padding: 5px;
  color: var(--cor--branco-2);
  background-color: var(--cor--principal);
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
}
