.allTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.table {
  width: 90%;
  max-width: 1200px;
  border-collapse: collapse;
  color: var(--primaryText);
  border: 1px solid var(--shadowColor);
  border-radius: 5px;
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.table thead {
  background: var(--cardBackground2);
}

.table th {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid var(--shadowColor);
  font-weight: 600;
}

.table td {
  padding: 8px 10px;
  text-align: center;
  border-bottom: 1px solid var(--shadowColor);
}

.table td:first-child {
  text-align: left;
}

.table tbody tr:nth-child(odd) {
  background: var(--sidebarBackground);
}

.table tbody tr:nth-child(even) {
  background: var(--cardBackgroundHover);
}

.table td input[type="checkbox"] {
  display: none;
  opacity: 0;
}

.check,
.noCheck {
  color: var(--primaryText);
  font-size: 1.2rem;
  cursor: pointer;
}

.check {
  color: var(--primaryColor);
  font-size: 1.2rem;
}

.btnsEnd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  padding: 10px 0;
  gap: 20px;
}

.btnReset {
  margin-top: 20px;
  padding: 5px;
  color: var(--errorColor2);
  border: 1px solid var(--shadowColor);
  background: var(--cardBackground);
  font-size: 0.9rem;
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
}

.btnReset:hover {
  color: var(--primaryText);
  background: var(--errorColorD);
}

.btnSave {
  margin-top: 20px;
  padding: 5px;
  color: var(--primaryColor);
  border: 1px solid var(--shadowColor);
  background: var(--cardBackground);
  font-size: 0.9rem;
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
}

.btnSave:hover {
  color: var(--primaryText);
  background: var(--warningColorD);
  border: 1px solid var(--primaryColor);
}
