.main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  align-items: center;

  display: flex;
  flex-direction: column;
  background-color: var(--mainBackground);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px 10px 10px;
  color: var(--primaryText);
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.serchDeal {
  display: flex;
  flex-direction: row;
  width: 400px;
  padding-right: 15px;
  padding-left: 3px;
  border-radius: 50px;
  background: var(--cardBackground);

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.serchDeal:hover {
  background: var(--cardBackgroundHover);
}

.serchDeal input {
  border: none;
  outline: none;
  width: 100%;
  color: var(--primaryText);
}

.serchDeal input::placeholder {
  color: var(--sidebarBackground);
  opacity: 1;
}

.serchDeal input:focus,
.serchDeal input:active,
.serchDeal input:hover {
  border: none !important;
  box-shadow: none !important;
}

.btnSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: var(--primaryText);
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
}

.headerIcons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.btnFilter {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: var(--primaryText);
  font-size: 1.3rem;

  background: var(--cardBackground);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnFilterActive {
  color: var(--primaryColor);
}

.btnActive {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: var(--primaryColor);
  font-size: 1.3rem;

  background: var(--cardBackground);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnActive:hover,
.btnFilter:hover {
  background: var(--cardBackgroundHover);
}

.btnDisable {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: var(--primaryText);
  font-size: 1.3rem;

  background: var(--cardBackground);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnDisable:hover {
  background: var(--cardBackgroundHover);
}

.boxSteps {
  display: flex;
  flex-direction: row;
  width: calc(100% - 30px);
  margin: 10px 15px;
  padding: 10px;
  gap: 20px;
  justify-content: space-around;
}

.finishedDealsByYearWrap {
  width: 100%;
}

.yearButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.yearBtn {
  text-align: center;
  padding: 8px 12px;
  background: var(--cardBackground);
  color: var(--shadowColor);
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.yearBtn:hover {
  background: var(--cardBackgroundHover);
  color: var(--secondaryText);
}

.yearBtnActive {
  background-color: var(--cardBackground);
  color: var(--primaryColor);
}

.monthsList {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  padding: 8px;
  border-radius: 5px;
  background: var(--cardBackground);
  width: 100%;
  min-height: 44px;
  box-sizing: border-box;
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.monthToggle,
.monthToggleActive {
  color: var(--shadowColor);
  background: var(--cardBackground2);
  border-radius: 8px;
  padding: 8px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  justify-content: center;
  cursor: pointer;
  border: none;
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.monthToggle:hover,
.monthToggleActive:hover {
  color: var(--primaryText);
  background: var(--cardBackground2Hover);
}

.monthToggleActive {
  color: var(--primaryText);
}

.dealsOfMonth {
  display: grid;
  gap: 15px;
  width: 100%;
  margin: 20px auto;
  padding: 0 20px;

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
  color: var(--primaryText);
  width: 150px;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: none;

  background: var(--cardBackground);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.card:hover {
  background: var(--cardBackgroundHover);
}

.inProgress {
  width: 150px;
  color: var(--sidebarBackground);
  background: var(--warningColorD);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: none;

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.inProgress p {
  color: var(--primaryText);
}

.inProgress:hover {
  background: var(--warningColorDHover);
}

.pendingSection {
  width: 35%;
  color: var(--primaryText);
  border-radius: 5px;
  padding: 15px;
  background: var(--cardBackground);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.cashStatsCardDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (min-width: 768px) {
  .clientList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .clientList {
    grid-template-columns: repeat(5, 1fr);
  }
}
