.calendar {
  border-radius: 10px;
  background: #ffffffdd;
  box-shadow: -3px 3px 10px var(--shadowColor);
  border: 1px solid var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  gap: 20px;
  border-radius: 10px 10px 0 0;
  background: var(--cardBackground);
}

.navigation {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-self: start;
}

.navigation h6 {
  font-weight: 400;
  color: var(--tercearyText);
}

.title {
  justify-self: center;
  text-align: center;
}

.actions {
  display: flex;
  gap: 15px;
  justify-self: end;
}

.toggleButton,
.addButton {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  border: 1px solid var(--shadowColor);
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: 600;
}

.toggleButton {
  color: #3b3b3b;
  background: var(--cardBackground);
  border: 1px solid var(--shadowColor);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.addButton {
  color: var(--primaryColor);
  background: var(--cardBackground);
  border: 1px solid var(--shadowColor);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.toggleButton:hover {
  background: var(--cardBackgroundHover);
}

.addButton:hover {
  border: 1px solid var(--primaryColor);
  background: var(--cardBackgroundHover);
}

.icon {
  font-size: 1.2rem;
  color: #3b3b3b;
}

.addButton .icon {
  color: #3b3b3b;
}

.grid {
  display: flex;
  flex-direction: column;
  height: 500px;
  border-top: 1px solid #3b3b3b;
}

.gridHeader {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 60px;
  border-bottom: 1px solid #3b3b3b;
}

.gridHeaderMonth {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  height: 30px;
  border-bottom: 1px solid #3b3b3b;
}

.gridHeaderMonthTxt {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  border-right: 1px solid #3b3b3b;
  height: 100%;
  color: #000000;
}

.gridHeaderMonthTxt:last-child {
  border: none;
}

.dayHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: 600;
  border-right: 1px solid #3b3b3b;
}

.dayHeader:last-child {
  border-right: none;
}

.dayNumber {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 5px;
}

.gridBody {
  flex: 1;
  display: grid;
  z-index: 2;
}

.weekView .gridBody {
  grid-template-columns: repeat(7, 1fr);
}

.dayColumn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;

  padding: 10px;
  min-height: 100%;
  border: none;
  border-right: 1px solid #3b3b3b;
  background: #ffffff;
  cursor: pointer;
}
.future {
  opacity: 0.9;
}

.dayColumn:first-child {
  border-radius: 0 0 0 9px;
}

.dayColumn:hover {
  background: var(--cardBackgroundHover);
}

.dayColumn:last-child {
  border-right: none;
  border-radius: 0 0 9px 0;
}

.pastDay {
  opacity: 0.5;
  cursor: default;
}

.today {
  background: rgba(5, 60, 24, 0.3);
  color: #000000;
  font-weight: bold;
  cursor: pointer;
}

.weekend {
  background: rgba(59, 59, 59, 0.222);
}

.monthDay.today.currentMonth {
  display: flex;
  flex-direction: column;
  background: rgba(1, 71, 25, 0.3);
  color: #000000;
}

.monthDay.today.currentMonth:hover {
  background: var(--cardBackgroundHover);
}

.monthDay.today.otherMonth {
  display: flex;
  flex-direction: column;
  background: rgba(1, 71, 25, 0.3);
  color: #ffffff;
}

.monthDay.pastDay.currentMonth {
  background: #aeaeaeb3;
  color: #000000;
  cursor: default;
}

.monthDay.pastDay.otherMonth {
  display: flex;
  flex-direction: column;
  background: rgba(174, 174, 174, 0.01);
  color: #000000;
  cursor: default;
}

.dayColumn.pastDay {
  background: #aeaeae;
}

.dayColumn.today {
  background: rgba(1, 71, 25, 0.3);
}

.dayColumn.today:hover {
  background: var(--cardBackgroundHover);
}

.scheduleItem,
.scheduleItemFinish {
  width: 100%;
  max-height: 100px;
  border: none;
  border-radius: 3px;
  font-size: 0.75rem;
  padding: 3px;
  color: #000000;
  cursor: pointer;
  border: 1px solid var(--shadowColor);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scheduleItem h5 {
  color: rgba(1, 71, 25, 0.9);
}

.scheduleItemFinish h5 {
  color: #aeaeae;
}

.scheduleItem {
  background: var(--primaryColor);
}

.scheduleItemFinish {
  background: var(--secondaryText);
  color: #ffffff;
}

.scheduleItem:hover {
  background: var(--primaryColor);
}

.scheduleItemFinish:hover {
  border: 1px solid var(--primaryColor);
  background: #3b3b3ba4;
}

.events {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.eventsMonth {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primaryColor);
  text-align: center;
  border-radius: 3px;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid var(--shadowColor);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.monthView .gridBody {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
}

.monthDay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  border: none;
  background: #ffffff;
  border-right: 1px solid #3b3b3b;
  border-bottom: 1px solid var(--sidebarBackground);
  border-radius: 0 0 10px 10px;
  padding: 10px;
  min-height: 80px;
  cursor: pointer;
}

.monthDay:hover {
  background: var(--cardBackgroundHover);
}

.monthDay:nth-child(7n) {
  border-right: none;
}

.otherMonth {
  display: flex;
  flex-direction: column;
  background: #ededed;
  color: #000000;
}

.tooltipTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--primaryText);
}

.tooltip {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--tercearyText);
  border-radius: 8px;
  padding: 12px;
  z-index: 1000;
  min-width: 200px;
  color: var(--primaryText);
}

.tooltipItem {
  margin-bottom: 8px;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--primaryText);
}

.tooltipItem:last-child {
  border-bottom: none;
}

@media (max-width: 768px) {
  .calendar {
    width: 92%;
  }

  .header {
    padding: 0 15px;
    gap: 10px;
  }

  .navigation {
    gap: 5px;
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-self: end;
  }

  .toggleButton,
  .addButton {
    padding: 6px 10px;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .navigation,
  .title,
  .actions {
    justify-self: center;
  }

  .actions {
    justify-self: center;
  }

  .grid {
    height: 400px;
  }

  .monthDay {
    min-height: 60px;
    padding: 5px;
    font-size: 0.9rem;
  }

  .dayNumber {
    font-size: 1rem;
    margin-top: 3px;
  }
}
