.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  gap: 20px;
  background-color: none;
}

.header p {
  color: var(--primaryText);
}

.navigation {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-self: start;
}

.icon {
  font-size: 1.2rem;
}

.icon,
.navigation span {
  color: var(--textBase);
}

.title {
  justify-self: center;
  text-align: center;
  min-width: 80px;
}

.titleCrazy {
  margin-top: -23px;
  margin-bottom: 5px;
}

.actions {
  display: flex;
  gap: 5px;
  justify-self: end;
}

.btnDeal {
  width: 80px;
  margin: 5px 0;
  height: 30px;
  padding: 5px;
  color: var(--primaryColor);
  border-radius: 6px;
  cursor: pointer;
}

.toggleButton {
  color: var(--primaryText);
  border: 1px solid var(--textBase);
}

.toggleButton:hover {
  background: var(--mainBackground);
  border: 1px solid var(--primaryColor);
}

.addButton {
  color: var(--primaryText);
  border: 1px solid var(--textBase);
}

.addButton:hover {
  background: var(--primaryColor);
  border: 1px solid var(--mainBackground);
  color: var(--mainBackground);
}

.addButton:hover .icon {
  color: var(--mainBackground);
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  flex-direction: column;
  height: 60vh;
  border-top: 1px solid var(--primaryColor);
  color: var(--textBase);
}

.gridWeek {
  display: grid;
  grid-template-rows: auto 1fr; /* header auto, conteúdo flexível */
  height: 60vh;
  overflow: hidden;
}

.dayHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--textBase);
  border-bottom: 1px solid var(--primaryColor);
}

.dayHeader:first-child {
  border-left: 1px solid var(--primaryColor);
}

.dayHeader:nth-child(7) {
  border-right: 1px solid var(--primaryColor);
}

.dayHeader h5 {
  color: var(--textBase);
}

.gridHeaderMonthTxt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--textBase);
  border-bottom: 1px solid var(--primaryColor);
}

.gridHeaderMonthTxt:first-child {
  border-left: 1px solid var(--primaryColor);
}

.gridHeaderMonthTxt:nth-child(7) {
  border-right: 1px solid var(--primaryColor);
}

.dayColumn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 10px;
  min-height: 100%;
  border: none;
  border-right: 1px solid var(--textBase);
  cursor: pointer;
  overflow-y: auto;
  max-height: calc(60vh - 80px);
}

.dayColumn:hover {
  background: var(--cardBackground);
}

.dayColumn:last-child {
  border-right: none;
  border-radius: 0 0 9px 0;
}

.pastDay {
  opacity: 0.5;
  cursor: default;
}

.today {
  font-weight: bold;
}

.dayColumn.today {
  background: var(--textBase);
}

.dayColumn.today:hover {
  background: var(--cardBackground);
}

.weekend {
  background: rgba(255, 255, 255, 0.1);
}

.events {
  width: 100%;
  max-width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  flex: 1;
}

.scheduleItem,
.scheduleItemFinish {
  width: 100%;
  max-height: 100px;
  border: none;
  border-radius: 3px;
  font-size: 0.75rem;
  padding: 3px;
  color: var(--primaryText);
  cursor: pointer;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  overflow-wrap: break-word;
}

.scheduleItem {
  background-color: var(--mainBackground);
  border: 1px solid var(--textBase);
}

.scheduleItemFinish {
  color: var(--textBase);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.scheduleItem:hover,
.scheduleItemFinish:hover,
.today .scheduleItem:hover,
.today .scheduleItemFinish:hover {
  border: 1px solid var(--primaryColor);
}

.today .scheduleItem {
  border: 1px solid var(--primaryText);
}

.today .scheduleItemFinish {
  background-color: none;
  color: rgba(255, 255, 255, 0.1);
}

.gridBody {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
}

.monthDay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  border: none;
  background: var(--primaryText);
  border-right: 1px solid var(--textBase);
  border-bottom: 1px solid var(--textBase);
  border-radius: 0 0 10px 10px;
  padding: 8px 5px;
  min-height: 80px;
  min-width: 70px;
  margin-bottom: 1px;
  cursor: pointer;
}

.monthDay:hover {
  background: var(--cardBackground);
}

.monthDay:nth-child(7n) {
  border-right: none;
}

.monthDay.today.currentMonth {
  background: var(--mainBackground);
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

.monthDay.pastDay.currentMonth {
  background: var(--textBase);
  border-right: 1px solid var(--mainBackground);
  border-bottom: 1px solid var(--mainBackground);
  color: var(--mainBackground);
  cursor: default;
}

.otherMonth {
  background: var(--mainBackground);
  color: var(--textBase);
}

.monthDay.pastDay.otherMonth {
  background: var(--mainBackground);
  color: var(--textBase);
  cursor: default;
}

.eventsMonth {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--sidebarBackground);
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid var(--textBase);
  color: var(--primaryText);
}

.eventsMonth:hover {
  border: 1px solid var(--primaryColor);
}

.tooltip {
  position: absolute;
  top: 100px;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  background: var(--mainBackground);
  border-radius: 8px;
  padding: 12px;
  z-index: 1000;
  min-width: 200px;
  color: var(--textBase);
}

.tooltipTitle {
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--textBase);
}

.tooltipItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--textBase);
}

.tooltipItem h5 {
  color: var(--textBase);
}

.tooltipItem:last-child {
  border-bottom: none;
}

.tooltipItemPending span {
  color: var(--primaryColor);
}

.tooltipItemPending p,
.tooltipItemPending h5 {
  color: var(--primaryText);
}

@media (max-width: 768px) {
  .calendar {
    width: 100%;
  }

  .header {
    padding: 0;
    gap: 5px;
  }

  .navigation {
    gap: 5px;
  }

  .actions {
    flex-direction: column;
    gap: 0;
  }

  .btnDeal {
    margin: 0 0 5px 0;
    height: 28px;
  }

  .gridHeaderMonthTxt {
    max-height: 30px;
  }

  .gridWeek {
    grid-template-rows: 50px 1fr;
    height: 100vw;
  }

  .events {
    max-width: 50px;
  }

  .monthDay {
    padding: 2px 4px;
    min-width: 0;
  }

  .eventsMonth {
    border-radius: 9px;
  }
}
