.loading {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mainBg);
}

.loading l-infinity {
  transform: rotate(90deg);
}
