.main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.page {
  width: 100%;
  overflow-x: hidden;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  gap: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  padding: 20px 0 22px 0;
  color: var(--primaryText);
}

.headerIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  margin-top: 15px;
  margin-right: 10px;
}

.search {
  color: var(--primaryText);
}

.headerIcons button:hover {
  border: 1px solid var(--primaryColor);
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 10px;
  border-radius: 6px;
  box-sizing: border-box;
}

.list p {
  color: var(--primaryText);
}

.list h2 {
  color: var(--tercearyText);
}

.listEmpty {
  margin: 80px 0;
  padding: 10px;
  border-radius: 6px;
  max-width: 300px;
  text-align: center;
  color: var(--primaryText);
}

.dealsTable {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  color: var(--primaryText);
  border: 1px solid var(--shadowColor);
}

.dealsTable thead {
  background: var(--sidebarBackground);
}

.dealsTable th {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid var(--primaryColor);
  font-weight: 600;
}

.dealsTable td {
  padding: 10px 12px;
  border-bottom: 1px solid var(--mainBackground);
  text-align: center;
}

.list td:first-child {
  text-align: start;
}

.dealsTable tbody tr:nth-child(odd) {
  background: var(--textBase);
}

.dealsTable tbody tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .header h1 {
    font-size: x-large;
  }

  .headerContent {
    width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0 15px;
  }

  .headerBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    flex-wrap: nowrap;
  }

  .headerBtns select,
  .headerBtns input {
    width: 130px;
  }

  .btnSetting {
    width: 80px;
  }

  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 50px;
  }

  .list th {
    font-size: small;
  }

  .list td {
    font-size: x-small;
  }

  .dealsTable {
    width: 100%;
    max-width: 770px;

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }

  .dealsTable thead {
    background: var(--cardBackground2);
  }

  .dealsTable th {
    text-align: center;
    padding: 12px;
  }

  .dealsTable td {
    padding: 10px 5px;
  }

  .dealsTable tbody tr:nth-child(odd) {
    background: var(--textBase);
  }

  .dealsTable tbody tr:nth-child(even) {
    background: var(--cardBackgroundHover);
  }

  .dealsOfMonth {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .headerContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .title {
    text-align: center;
    padding: 10px 0;
    margin: 0;
  }

  .headerIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 13px;
  }
}
