.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.overlay h2 {
  color: var(--primaryText);
}

.overlay input,
.overlay select {
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  background: var(--cardBackground);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.overlay input:focus,
.overlay input:active,
.overlay input:hover {
  background: var(--cardBackgroundHover);
}

.overlay select option {
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  background: var(--mainBackground);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.modal {
  background: var(--mainBackground);
  padding: 1.8rem 1.8rem 1rem 1.8rem;
  gap: 4px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerModal {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.closeBtn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
}

.error {
  color: var(--errorColor2);
  font-size: var(--font--5);
}

.btnUpdate {
  margin-top: 15px;
  padding: 10px 20px;
  color: var(--primaryColor);
  background: var(--cardBackground);
  border: 1px solid var(--shadowColor);
  border-radius: 20px;
  cursor: pointer;

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnUpdate:hover {
  color: var(--primaryText);
  border: 1px solid var(--primaryColor);
  background: var(--cardBackground2);
}

.btnEditUser {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cardBackground);
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: var(--primaryText);
  font-size: 1.3rem;
  border: 1px solid var(--shadowColor);
}

.btnEditUser:hover {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  background: var(--cardBackgroundHover);
}

.btnEditUserActive {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  background: var(--cardBackground);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: var(--primaryText);
  font-size: 1.3rem;
  border: 1px solid var(--shadowColor);
}

.btnEditUserActive:hover {
  color: var(--errorColor2);
  border: 1px solid var(--errorColor2);
  background: var(--cardBackgroundHover);
}

.createUserLabels {
  color: var(--primaryText);
  width: 100%;
}

.labelSettingUser {
  color: var(--primaryText);
  width: 100%;
}

.labelSettingUser::placeholder {
  color: var(--sidebarBackground);
}

.box {
  display: flex;
  width: 100%;
  gap: 3px;
  margin-bottom: 3px;
  justify-content: center;
}

.boxClose {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3px;
}
