.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  padding: 0 20px;
}
/* 
.overlay input,
.overlay select {
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  background: var(--cardBackground);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.overlay input:focus,
.overlay input:active,
.overlay input:hover {
  background: var(--cardBackgroundHover);
}

.overlay select option {
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  background: var(--mainBg);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
} */

.modal {
  background: var(--mainBg);
  padding: 15px;
  gap: 4px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerModal {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.createUserLabels {
  color: var(--primaryText);
  width: 100%;
}

.box {
  display: flex;
  width: 100%;
  gap: 3px;
  margin-bottom: 3px;
  justify-content: space-around;
}

.boxClose {
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  height: 38px;
  margin-top: 5px;
}

.labelUser {
  color: var(--primaryText);
  width: 100%;
}

.closeBtn {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
  margin-left: 10px;
}

.closeBtn:hover {
  color: var(--errorColor);
}

.btnUpdate {
  width: 150px;
  padding: 10px;
  color: var(--primaryColor);
  border: 1px solid var(--shadowColor);
  border-radius: 6px;
  cursor: pointer;
}

.btnUpdate:hover {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  background: var(--mainBg);
}

.btnEditUser {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  color: var(--primaryText);
  font-size: 1.3rem;
  border: 1px solid var(--shadowColor);
}

.btnEditUser:hover {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  background: var(--mainBg);
}

.close:hover {
  color: var(--errorColor);
  border: 1px solid var(--errorColor);
}

.labelSettingUser {
  color: var(--primaryText);
  width: 100%;
}

.labelSettingUser::placeholder {
  color: var(--textBase);
}
