.content {
  height: 20px;
  width: 100vw;
  box-sizing: border-box;

  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0 10px;
  color: rgba(242, 246, 210, 0.3);
  background-color: var(--sidebarBackground);
  z-index: 500;
}
