.main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 560px;
  height: 300px;
  border-radius: 20px;
  border: 1px solid var(--shadowColor);
  background: var(--cardBackground);

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.box h1 {
  color: var(--primaryColor);
  font-size: var(--font-1);
  margin: 0 0 20px 40px;
}

.erro {
  color: var(--errorColor2);
  font-size: var(--font-5);
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.box input,
.box input:focus,
.box input:hover,
.box input:active {
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  outline: none;
  border: 1px solid var(--shadowColor);
  background: var(--cardBackground);
}

.esqueceuSenha {
  color: var(--primaryText);
  font-size: var(--font-4);
  text-decoration: none;
  margin-bottom: 15px;
}

.esqueceuSenha:hover {
  color: var(--secondaryText);
}

.form button {
  padding: 8px;
  margin: 0 auto;
  width: 50%;
  color: var(--primaryText);
  font-size: var(--font-3);
  border: 1px solid var(--shadowColor);
  border-radius: 5px;
  background-color: var(--cardBackground);
  cursor: pointer;

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.form button:hover {
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  background: var(--cardBackgroundHover);
}
