.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 999;
}

.modal {
  background: var(--mainBg);
  margin: 0 25px 10px 0;
  padding: 1rem;
  gap: 4px;
  border-radius: 10px;
  max-width: 900px;
  width: 90%;
  max-height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--textBase);
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header h4 {
  color: var(--textBase);
}

.closeBtn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
}

.closeBtnInvisible {
  opacity: 0;
  visibility: hidden;
}

.payment {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--primaryText);
  text-align: center;
  margin: 10px 0 20px 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btnsActions {
  display: flex;
  gap: 20px;
}

.btnCommission {
  color: var(--primaryText);
  cursor: pointer;
  border: 1px solid var(--textBase);
  font-size: 1rem;
  width: 30px;
  height: 30px;
}

.btnActive {
  color: var(--primaryColor);
}

.btnCommission:hover,
.btnActive:hover {
  border: 1px solid var(--primaryColor);
  background-color: var(--mainBg);
}

.content {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--textBase);
  margin-bottom: 5px;
}

.line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.addSplit,
.removeSplit {
  background: transparent;
  border: none;
  font-size: 1.3rem;
  color: var(--textBase);
  cursor: pointer;
  border: none;
}

.addSplit:hover {
  color: var(--primaryColor);
}

.removeSplit:hover {
  color: var(--errorColor);
}

.form {
  width: 100%;
  color: var(--primaryText);
}

.inputPercentage {
  display: flex;
}

.inputWrapper {
  position: relative;
  width: 72px;
}

.suffix {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 12px;
  color: var(--textBase);
}

.preview {
  padding-left: 3px;
}

.underline {
  display: flex;
  align-items: center;
  gap: 3px;
}

.formCash {
  min-width: 110px;
  max-width: 200px;
}

.btnPaid,
.btnPaidActive {
  border-radius: 6px;
  width: 70px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid var(--textBase);
}

.btnPaid {
  background: var(--mainBg);
  color: var(--textBase);
}

.btnPaid:hover {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

.btnPaidActive {
  background: var(--primaryColor);
  color: var(--mainBg);
  border: 1px solid var(--primaryColor);
}

.btnPaidActive:hover {
  color: var(--primaryColor);
  background: var(--mainBg);
}

.addSplit {
  background: transparent;
  border: none;
  font-size: 1.3rem;
  color: var(--textBase);
  cursor: pointer;
  border: none;
}

.addSplit:hover {
  color: var(--primaryColor);
}

.removeSplit:hover {
  color: var(--errorColor);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.btnUpdate {
  border-radius: 6px;
  width: 120px;
  cursor: pointer;
  border: 1px solid var(--textBase);
}

.btnUpdate:hover {
  background: var(--mainBg);
  border: 1px solid var(--primaryColor);
}

@media (max-width: 768px) {
  .modal {
    padding: 20px;
    border-radius: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .innerModal {
    flex-direction: column;
  }

  .modalLeft {
    padding: 0;
    flex-direction: column;
    max-width: 100%;
  }

  .paymentTitle {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 10px;
    justify-content: flex-start;
  }

  .paymentTitleMobile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .payment:last-child {
    grid-column: span 1;
  }

  .payment p {
    width: 100%;
    margin-bottom: 3px;
  }

  .inputBank {
    max-width: 100%;
  }

  .btnCancelAndConfirm {
    gap: 15px;
  }

  .btnCancel,
  .btnUpdate,
  .btnNextStep {
    max-width: 100px;
  }

  .modalRight {
    padding: 20px;
    width: 100%;
    height: 560px;
    margin-top: 20px;
  }

  .noteSection,
  .docCostSection {
    height: 250px;
  }

  .list {
    max-height: 150px;
  }

  .btnEditDocValue {
    color: var(--primaryColor);
  }

  .btnDelDocValue {
    color: var(--errorColor);
  }
}
