.main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-left: -60px;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxTotal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.boxLogoName {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoName {
  width: 70px;
  transform: rotate(90deg);
  color: var(--primaryColor);
}

.nameLogo {
  color: var(--textBase);
  margin-top: -60px;
  margin-bottom: 30px;
  font-size: 55px;
  font-weight: 600;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 560px;
  height: 300px;
  border-radius: 20px;
  border: 1px solid var(--shadowColor);
  background-color: var(--logoColor);
  z-index: 2;
}

.box h3 {
  color: var(--primaryText);
}

.box span {
  color: var(--primaryText);
  margin: 30px 0 50px 40px;
}

.erro {
  color: var(--errorColor);
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.upLine {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--textBase);
  margin-bottom: 5px;
}

.line:hover {
  border-bottom: 1px solid var(--primaryColor);
}

.icon {
  color: var(--primaryText);
  font-size: 1.5rem;
  margin: 0 10px;
}

.inputForm {
  background: none;
  border: none;
  color: var(--primaryText);
  padding: 9px 15px;
  font-size: 14px;
  font-weight: 200;
  outline: none;
  width: 100%;
}

.eyeButton {
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--primaryText);
  font-size: 1.1rem;
  width: 35px;
  height: 35px;
  border: 1px solid var(--textBase);
}

.eyeButton:hover {
  color: var(--primaryColor);
  border: 1px solid var(--textBase);
  background-color: var(--mainBackground);
}

.resetPassword {
  padding: 0px;
  margin: 0 auto;
  border: none;
  background-color: none;
  cursor: pointer;

  color: var(--textBase);
  text-align: start;
  text-decoration: none;
}

.resetPassword:hover {
  color: var(--primaryText);
}

.lineBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.send {
  padding: 5px;
  color: var(--primaryText);
  border-radius: 6px;
  width: 30%;
  cursor: pointer;
  background-color: transparent;

  border: 1px solid var(--textBase);
}

.send:hover {
  background: var(--mainBackground);
  border: 1px solid var(--primaryColor);
}

@media (max-width: 768px) {
  .main {
    margin: 0;
  }

  .logoName {
    width: 60px;
  }

  .nameLogo {
    margin-top: -50px;
    font-size: 45px;
    font-weight: 500;
  }

  .box {
    width: 90%;
  }
}
