.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.overlay h2 {
  color: var(--primaryText);
}

.overlay h3 {
  color: var(--sidebarBackground);
  align-items: start;
  font-size: var(--font-5);
  font-weight: 400;
  width: 100%;
}

.overlay h6 {
  color: var(--sidebarBackground);
  font-size: var(--font-5);
  font-weight: 400;
}

.overlay input,
.overlay select {
  padding: 8px;
  margin: 3px;
  color: var(--primaryText);
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  background: var(--cardBackground);

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.overlay input:focus,
.overlay input:active,
.overlay input:hover {
  border: none !important;
  box-shadow: none !important;
}

.overlay input::placeholder {
  color: var(--sidebarBackground);
}

.overlay label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid var(--shadowColor);
  background: var(--cardBackground);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.modal {
  background: var(--mainBackground);
  padding: 1.8rem 1.8rem 1rem 1.8rem;
  gap: 4px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerModal {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.titleForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.btnPriority {
  background: transparent;
  border: none;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
}

.btnPriorityActive {
  background: transparent;
  border: none;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primaryColor);
  cursor: pointer;
}

.closeBtn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
}

.erro {
  color: var(--errorColor2);
  font-size: var(--font-5);
}

.investorBtn {
  border: none;
  outline: none;
  font-size: var(--font-3);
  cursor: pointer;
}

.investorBtnCheck {
  color: var(--primaryColor);
}

.investorBtnUnC {
  color: var(--primaryText);
}

.investorInput {
  display: none;
  opacity: 0;
}

.btnAddClient {
  padding: 5px;
  color: var(--primaryText);
  background: var(--cardBackground);
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
  width: 250px;
  cursor: pointer;
  border: 1px solid var(--shadowColor);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnAddClient:hover {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  background: var(--cardBackgroundHover);
}

.btnDelAndUp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
  margin-top: 20px;
}

.delClient {
  padding: 5px;
  color: var(--primaryText);
  background: var(--errorColorD);
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
  width: 250px;
  box-shadow: -3px 3px 10px var(--shadowColor);
  border: 1px solid var(--errorColor2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnDelClient {
  padding: 5px;
  color: var(--primaryText);
  background: var(--cardBackground);
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
  width: 250px;
  cursor: pointer;
  box-shadow: -3px 3px 10px var(--shadowColor);
  border: 1px solid var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnDelClient:hover {
  background: var(--errorColorD);
  border: 1px solid var(--errorColor2);
}

.footerCard {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  text-align: center;
}

.footerCard h6 {
  color: var(--sidebarBackground);
  font-size: x-small;
}

@media (max-width: 768px) {
  .overlay {
    padding: 0 10px;
  }

  .titleForm h2 {
    font-size: var(--font-3);
  }

  .btnAddClient {
    margin-top: 10px;
  }
}
