.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: var(--mainBg);
  padding: 20px;
  gap: 4px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerModal {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.titleForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.btnPriority {
  background: transparent;
  border: none;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
}

.btnPriorityActive {
  background: transparent;
  border: none;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primaryColor);
  cursor: pointer;
}

.titleName {
  display: flex;
  gap: 10px;
}

.name {
  color: var(--primaryColor);
  overflow-wrap: break-word;
  max-width: 280px;
  text-align: center;
}

.titleName span {
  color: var(--textBase);
}

.closeBtn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
}

.erro {
  color: var(--errorColor);
}

.line {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
}

.form {
  width: 100%;
  max-width: 200px;
  color: var(--primaryText);
  margin-bottom: 10px;
}

.btnIvestor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  height: 35px;
  cursor: pointer;
}

.btnInvestorActive {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

.investorInput {
  display: none;
  opacity: 0;
}

.btnDeal {
  padding: 5px;
  color: var(--primaryColor);
  border-radius: 6px;
  width: 250px;
  cursor: pointer;

  border: 1px solid var(--textBase);
}

.btnDeal:hover {
  color: var(--primaryText);
  border: 1px solid var(--primaryColor);
}

.deleteRequest {
  color: var(--primaryText);
  max-width: 120px;
  border: 1px solid var(--errorColor);
  background: var(--errorColor);
  text-align: center;
}

.deleteRequest:hover {
  border: 1px solid var(--errorColor);
}

.btnDelete {
  color: var(--primaryText);
  max-width: 120px;
  border: 1px solid var(--textBase);
}

.btnDelete:hover {
  background: var(--errorColor);
  border: 1px solid var(--errorColor);
}

.btnUpdate {
  color: var(--primaryText);
  max-width: 120px;
  border: 1px solid var(--textBase);
}

.btnUpdate:hover {
  background: var(--mainBg);
  border: 1px solid var(--primaryColor);
}

.btnDelAndUp {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  gap: 15px;
  margin-top: 20px;
}

.footerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.footerCard span {
  text-align: center;
  color: var(--textBase);
  font-size: 10px;
}

@media (max-width: 768px) {
  .overlay {
    padding: 0 20px;
  }

  .titleForm {
    margin-bottom: 10px;
  }

  .line {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    gap: 0;
  }

  .form {
    width: 170px;
    color: var(--primaryText);
    margin-bottom: 10px;
  }

  .btnIvestor {
    width: 170px;
    margin-top: 10px;
  }
}
