.main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  background-color: var(--mainBackground);
  overflow-y: auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px 10px 10px;
  color: var(--primaryText);
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
}

.headerIcons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.content {
  width: 100%;
  margin-bottom: 30px;
}

.btnSetting {
  margin-top: 20px;
  max-width: 500px;
  gap: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;

  text-align: center;
  padding: 8px 12px;
  background: var(--cardBackground);
  color: var(--shadowColor);
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnSettingActive {
  margin-top: 20px;
  gap: 10px;
  max-width: 500px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;

  text-align: center;
  padding: 8px 12px;
  background: var(--cardBackground);
  color: var(--primaryColor);
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnSetting:hover,
.btnSettingActive:hover {
  background: var(--cardBackgroundHover);
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deleteItem {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 80%;
  max-width: 850px;
  padding: 10px;
  color: var(--primaryText);
  background: var(--cardBackground);
  border-radius: 5px;

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.deleteItem h3 {
  color: var(--secondaryText);
}

.deleteItemLabels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title {
  width: 100%;
  text-align: start;
}

.box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.box h6 {
  font-weight: 400;
}

.boxBtns {
  display: flex;
  flex-direction: column;
  width: 80px;
  gap: 3px;
  margin: 3px;
  justify-content: center;
}

.btnDelClient {
  padding: 5px;
  color: var(--primaryText);
  background: var(--cardBackgroundHover);
  border: 1px solid var(--shadowColor);
  font-size: 1rem;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnDelClient:hover {
  color: var(--errorColor);
  border: 1px solid var(--errorColor);
  background: var(--cardBackgroundHover);
}

.btnCancelClient {
  padding: 5px;
  color: var(--primaryText);
  background: var(--cardBackground);
  border: 1px solid var(--shadowColor);
  font-size: 1rem;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnCancelClient:hover {
  color: var(--primaryColor);
  border: 1px solid var(--tercearyText);
  background: var(--cardBackgroundHover);
}

@media (max-width: 768px) {
  .header h1 {
    font-size: x-large;
  }
}
