.main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  background-color: var(--mainBackground);
  overflow-y: auto;
  padding-bottom: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px 10px 10px;
  color: var(--primaryText);
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
}

.headerIcons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.content {
  width: 100%;
  margin-bottom: 30px;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.setting {
  width: 50%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnSetting {
  margin-top: 20px;
  padding: 5px;
  color: var(--sidebarBackground);
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
  background: var(--cardBackground);
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnSettingActive {
  margin-top: 20px;
  padding: 5px;
  color: var(--primaryColor);
  background: var(--cardBackground);
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
  box-shadow: -3px 3px 10px var(--shadowColor);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnSetting:hover {
  background: var(--cardBackgroundHover);
}

.btnLogout {
  margin-top: 20px;
  padding: 5px;
  color: var(--errorColor2);
  background: var(--cardBackground);
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
  border: 1px solid var(--errorColor2);

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnLogout:hover {
  color: var(--primaryText);
  background: var(--errorColorD);
}

.contentConfig {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.createUser {
  display: flex;
  margin: 20px 0;
  width: 500px;
  max-width: 80%;
  padding: 10px;
  background: var(--cardBackground);
  border-radius: 5px;
  color: var(--secondaryText);
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--shadowColor);

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.createUser:hover {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  background: var(--cardBackgroundHover);
}

.editUser {
  display: flex;
  margin: 20px 0;
  width: 500px;
  max-width: 80%;
  padding: 10px;
  color: var(--primaryText);
  background: var(--cardBackground);
  border-radius: 5px;

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.editUser h3 {
  color: var(--secondaryText);
}

.btnEditUser {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cardBackground);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: var(--primaryText);
  font-size: 1.3rem;
  border: 1px solid var(--shadowColor);

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnEditUser:hover {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  background: var(--cardBackgroundHover);
}

.btnDeleteUser {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cardBackground);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: var(--primaryText);
  font-size: 1.3rem;
  border: 1px solid var(--shadowColor);

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnDeleteUser:hover {
  border: 1px solid var(--errorColor2);
  background: var(--errorColorD);
}

.editUserLabels {
  width: 100%;
}

.box {
  display: flex;
  width: 100%;
  gap: 3px;
  margin-bottom: 3px;
  justify-content: center;
}

.boxClose {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3px;
}

.btnsUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 5px;
}

.editMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userList {
  width: 100%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: x-large;
  }

  .headerContent {
    padding: 0 50px;
  }

  .headerContent h3 {
    font-size: var(--font-3);
  }
}
