.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 999;
}

.overlay h1 {
  color: var(--primaryColor);
}

.overlay h2 {
  color: var(--primaryText);
}

.overlay h3 {
  color: var(--primaryText);
  align-items: start;
  font-size: var(--font--5);
  font-weight: 400;
  width: 100%;
}

.overlay h6 {
  color: var(--shadowColor);
  font-size: var(--font--5);
  font-weight: 400;
}

.overlay input,
.overlay select {
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  background: var(--cardBackground);

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.overlay input::placeholder {
  color: var(--sidebarBackground);
}

.overlay input:focus,
.overlay input:active,
.overlay input:hover {
  border: none !important;
  background: var(--cardBackgroundHover);
}

.modal {
  display: flex;
  justify-content: space-between;
  background: var(--mainBackground);
  padding: 1.8rem 1.8rem 1rem 1.8rem;
  border-radius: 10px;
  width: 1000px;
  height: 650px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px 10px 0;
  overflow-y: auto;
  scrollbar-color: var(--primaryColor) var(--sidebarBackground);
}

.modalRed {
  display: flex;
  justify-content: space-between;
  background: var(--cardBackground2);
  background-color: var(--mainBackground);
  padding: 1.8rem 1.8rem 1rem 1.8rem;
  border-radius: 10px;
  width: 1000px;
  height: 650px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px 10px 0;
  overflow-y: auto;
  scrollbar-color: var(--primaryColor) var(--sidebarBackground);
}

.innerModal {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.modalLeft {
  padding: 0 1rem 1rem 1.8rem;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.modalRight {
  padding: 1.8rem 1.8rem 1rem 1.8rem;
  background: var(--cardBackground2);
  border-radius: 10px;
  gap: 4px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.overlay .modalRight input {
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  background: var(--cardBackground);
}

.closeBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
}

.error {
  color: var(--errorColor2);
  font-size: var(--font--5);
}

.paymentTitle {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.paymentBox {
  margin: 10px 0;
  text-align: center;
}

.paymentMethodStyle {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.modalLeft h4 {
  color: var(--secondaryText);
}

.docCostSection h3,
.noteSection h3 {
  color: var(--primaryText);
}

.docCostSection h2,
.noteSection h2 {
  color: var(--primaryText);
}

.docCostSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  justify-content: flex-start;
  height: 45%;
  margin-bottom: 10px;
}

.docCost {
  width: 100%;
  text-align: start;
}

.addDoc {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.btnSave {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
}

.btnSave:hover {
  color: var(--primaryColor);
}

.addDoc,
.addNote {
  width: 100%;
  margin-bottom: 10px;
}

.docItem h3 {
  text-align: start;
}

.btnEditDocValue {
  border: none;
  color: var(--inputColor);
  font-size: 0.9rem;
  cursor: pointer;
}

.btnEditDocValue:hover {
  color: var(--primaryColor);
}

.btnDelDocValue {
  border: none;
  margin-left: 5px;
  color: var(--errorColor);
  font-size: 0.9rem;
  cursor: pointer;
}

.btnDelDocValue:hover {
  color: var(--errorColor2);
}

.noteSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  height: 45%;
  margin-top: 10px;
}

.addDoc,
.addNote {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.docList,
.noteList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  max-height: 150px;
  padding: 5px;
  border-radius: 5px;
  background: var(--cardBackground);
  justify-content: space-between;
  scrollbar-color: var(--primaryColor) var(--sidebarBackground);
}

.docItem,
.noteItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: solid 1px var(--shadowColor);
}

.btnUpdateAndStep {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-top: auto;
}

.btnBackStep {
  text-align: center;
  padding: 5px;
  color: var(--primaryText);
  font-size: 0.8rem;
  border: none;
  border-radius: 20px;
  width: 150px;
  cursor: pointer;
}

.btnBackStep {
  background: var(--cardBackground);
  border: 1px solid var(--shadowColor);

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnBackStep:hover {
  border: 1px solid var(--errorColor2);
  background: var(--cardBackgroundHover);

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.footerCard {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
}

.footerCard h6 {
  color: var(--sidebarBackground);
  font-size: x-small;
}

.boxCommissionShare {
  margin-top: 25px;
  width: 100%;
}

.splitCommissionTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.border {
  border-bottom: solid 1px var(--primaryText);
  margin-bottom: 10px;
}

.boxSplitCommission {
  display: flex;
  flex-direction: row;
  width: 100%;
}
