.main {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.expenseMain {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

.cashStatsCardExpense {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  justify-content: space-between;
  margin-bottom: 15px;
}

.cardGoal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--primaryText);
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background-color: var(--mainBg);
  border: 1px solid var(--textBase);
}

.infoCardExpense {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-around;
  width: 100%;
}

.card {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--textBase);
}

.received {
  color: var(--textBase);
}

.card span {
  color: var(--primaryText);
}

.btnSave {
  color: var(--primaryColor);
  background: var(--mainBg);
  border-radius: 5px;
  max-width: 50px;
  width: 80%;
  cursor: pointer;
  transition: 200ms;
  margin: 2px;

  border: 1px solid var(--textBase);
}

.cardAddExpense {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dealsTable {
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  border-radius: 5px;
  color: var(--primaryText);
}

.dealsTable thead {
  background: var(--mainBg);
}

.dealsTable thead th {
  text-align: center;
  font-size: 16px;
}

.dealsTable th {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid var(--primaryColor);
}

.dealsTable td {
  padding: 5px;
  font-size: 14px;
  border-bottom: 1px solid var(--textBase);
  text-align: center;
}

.dealsTable td:first-child {
  max-width: 220px;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

.dealsAddTable table td {
  width: 100%;
}

.list td:first-child {
  text-align: start;
}

.dealsTable tbody tr:nth-child(odd) {
  background: var(--textBase);
}

.dealsTable tbody tr:nth-child(even) {
  background: var(--logoColor);
}

.main input {
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  max-width: 90px;
  color: var(--primaryText);
  background: var(--logoColor);
}

.infoCard {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}

.infoCard button {
  font-size: 1rem;
}

.btnIsPaid {
  color: var(--primaryText);
  background: var(--mainBg);
  border-radius: 5px;
  max-width: 90px;
  width: 100%;
  height: 35px;
  padding: 0 5px;
  cursor: pointer;
  transition: 200ms;

  border: 1px solid var(--textBase);
}

.btnIsPaid:hover {
  border: 1px solid var(--primaryColor);
}

.btnIsPaidActive {
  background-color: var(--textBase);
  border: 1px solid var(--mainBg);
  color: var(--mainBg);
}

.edit {
  display: flex;
  gap: 3px;
  padding: 0 3px;
}

.btnEdit {
  border: none;
  color: var(--mainBg);
  font-size: 0.9rem;
  cursor: pointer;
}

.btnEdit:hover {
  color: var(--primaryColor);
}

.btnDel {
  border: none;
  margin-left: 5px;
  color: var(--mainBg);
  font-size: 0.9rem;
  cursor: pointer;
}

.btnDel:hover {
  color: var(--errorColor);
}

.noItens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  color: var(--textBase);
}

@media (max-width: 768px) {
  .expenseMain {
    flex-direction: column;
    padding: 10px;
    gap: 0;
  }

  .cashStatsCardExpense {
    margin-bottom: 10px;
  }

  .cardGoal {
    padding: 5px;
  }

  .cardGoal h3 {
    font-size: 16px;
  }
}
