.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.overlayEdit {
  align-items: flex-end;
  justify-content: flex-end;
}

.modal {
  background: var(--mainBackground);
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  height: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--primaryText);
}

.modalEdit {
  background: var(--mainBackground);
  padding: 1rem 1rem 1rem 0;
  gap: 4px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 25px 10px 0;
  width: 90%;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--primaryText);
  overflow-y: auto;
}

.cardDeals {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.innerModal {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.modalLeft {
  padding: 0 10px 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: 100%;
  justify-content: space-between;
}

.titleCard {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.closeBtn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
}

.titleCardEdit {
  text-align: center;
}

.titleCardEdit span {
  color: var(--textBase);
}

.clientBtn {
  border: none;
  width: 100%;
  cursor: pointer;
}

.popupClient h4 {
  color: var(--primaryColor);
}

.btnPriorityAndDoc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btnPriority {
  background: transparent;
  border: none;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
}

.btnPriorityActive {
  color: var(--primaryColor);
}

.btnDocValue {
  color: var(--primaryText);
  height: 100%;
  font-size: 1.5rem;
}

.titleAndInputs {
  width: 100%;
  gap: 5px;
}

.box,
.boxFormSearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
}

.box {
  height: 35px;
}

.boxTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  margin-top: 10px;
}

.paymentMethod {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  max-width: 300px;
  gap: 5px;
  color: var(--primaryText);
}

.payment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
  color: var(--primaryText);
}

.inputBank {
  max-width: 150px;
}

.noteSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  flex: 1;
  margin-top: 10px;
}

.addNote {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.changeClient {
  color: var(--primaryText);
  border-radius: 6px 0 0 6px;
}

.addClient {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 38px;
  font-size: 1.5rem;
  color: var(--primaryText);
  background: var(--textBase);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.addClient:hover {
  color: var(--primaryColor);
  background: var(--cardBackground);
}

.formSearch {
  width: 100%;
  height: 70px;
  color: var(--primaryText);
  resize: none;
  padding: 8px 12px;
  line-height: 1.4;
}

.modalRight {
  padding: 20px 10px 10px 10px;
  border-radius: 10px;
  gap: 4px;
  width: 35%;
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addNote span {
  color: var(--textBase);
  align-items: center;
}

.addNoteForm {
  color: var(--primaryText);
  border: 1px solid var(--textBase) !important;
}

.btnSave {
  background: transparent;
  border: none;
  font-size: 1.8rem;
  color: var(--primaryText);
  cursor: pointer;
}

.btnSave:hover {
  color: var(--primaryColor);
}

.noteList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  max-height: 250px;
  padding: 5px;
  border-radius: 6px;
  background: var(--mainBackground);
  justify-content: space-between;
  text-align: center;
}

.noteItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: solid 1px var(--textBase);
}

.inputNote {
  border: 1px solid var(--mainBackground) !important;
}

.overlayEdit .modalRight input {
  width: 100%;
}

.btnsNote {
  gap: 5px;
}

.btnEditDocValue {
  border: none;
  color: var(--textBase);
  font-size: 0.9rem;
  cursor: pointer;
}

.btnEditDocValue:hover {
  color: var(--primaryColor);
}

.btnDelDocValue:hover {
  color: var(--errorColor);
}

.btnDeal {
  padding: 5px;
  color: var(--primaryColor);
  border-radius: 6px;
  width: 250px;
  cursor: pointer;

  border: 1px solid var(--textBase);
}

.btnDeal:hover {
  color: var(--primaryText);
  border: 1px solid var(--primaryColor);
}

.modal .btnDeal {
  width: 100%;
}

.footerCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.btnDelete {
  color: var(--primaryText);
  max-width: 120px;
  border: 1px solid var(--textBase);
}

.btnDelete:hover {
  background: var(--errorColor);
  border: 1px solid var(--errorColor);
}

.deleteRequest {
  color: var(--primaryText);
  max-width: 120px;
  border: 1px solid var(--errorColor);
  background: var(--errorColor);
}

.deleteRequest:hover {
  border: 1px solid var(--errorColor);
}

.btnUpdate {
  color: var(--primaryText);
  max-width: 120px;
  border: 1px solid var(--textBase);
}

.btnUpdate:hover {
  background: var(--mainBackground);
  border: 1px solid var(--primaryColor);
}

.btnSell {
  color: var(--primaryText);
  max-width: 120px;
  border: 1px solid var(--textBase);
}

.btnSell:hover {
  background: var(--primaryColor);
  border: 1px solid var(--mainBackground);
  color: var(--mainBackground);
}

.updateBox {
  display: flex;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  width: 100%;
}

.updateBox span {
  color: var(--textBase);
  font-size: x-small;
}

.popup {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--mainBackground);
  z-index: 1000;
}

.popup h5 {
  color: var(--primaryColor);
}

.clientPopup {
  width: 180px;
  text-align: center;
}

.docPopup {
  width: 250px;
  gap: 5px;
}

.boxDoc {
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--primaryText);
}

.nameValue {
  display: flex;
  justify-content: space-between;
}

.description {
  width: 100%;
  text-align: start;
}

.description span {
  font-size: 10px;
  color: var(--textBase);
}

.boxDocTotal {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .modal {
    padding: 20px 10px;
    border-radius: 0;
  }

  .modalEdit {
    background: var(--mainBackground);
    padding: 20px;
    gap: 0;
    border-radius: 0;
    max-width: 800px;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .innerModal {
    flex-direction: column;
    justify-content: space-between;
  }

  .modalLeft {
    padding: 0;
    gap: 10px;
  }

  .formSearch {
    padding: 5px;
  }

  .modalRight {
    padding: 20px;
    width: 100%;
    height: 560px;
    margin-top: 20px;
  }

  .inputBank {
    max-width: 80px;
  }

  .noteSection {
    height: 250px;
  }

  .changeClient {
    color: var(--primaryText);
    border-radius: 6px 0 0 6px;
  }

  .btnEditDocValue {
    color: var(--primaryColor);
  }

  .btnDelDocValue {
    color: var(--errorColor);
  }

  .footerCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
    gap: 20px;
  }

  .btnDeal {
    padding: 5px;
    border-radius: 6px;
    max-width: 100px;
    cursor: pointer;

    color: var(--primaryText);
    border: 1px solid var(--primaryColor);
  }

  .btnDelete {
    max-width: 100px;
    border: 1px solid var(--errorColor);
  }

  .deleteRequest {
    max-width: 100px;
    border: 1px solid var(--errorColor);
  }

  .btnUpdate {
    max-width: 100px;
    border: 1px solid var(--textBase);
  }

  .btnSell {
    max-width: 100px;
    border: 1px solid var(--primaryColor);
  }

  .updateBox span {
    color: var(--textBase);
    font-size: x-small;
  }

  .popup {
    border: 1px solid var(--textBase);
  }

  .clientPopup {
    width: 180px;
    text-align: center;
  }

  .docPopup {
    width: 250px;
    gap: 5px;
  }

  .nameValue {
    margin-top: 8px;
  }

  .description {
    margin-top: -8px;
  }
}
