.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.overlayEdit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 999;
}

.overlay h2,
.overlayEdit h2 {
  color: var(--primaryText);
}

.overlay h3,
.overlayEdit h3 {
  color: var(--primaryText);
  align-items: start;
  font-size: var(--font--5);
  font-weight: 400;
  width: 100%;
}

.overlay h6,
.overlayEdit h6 {
  color: var(--sidebarBackground);
  font-size: var(--font--5);
  font-weight: 400;
}

.overlay input,
.overlayEdit input,
.overlay select,
.overlayEdit select {
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  color: var(--sidebarBackground);
  background: var(--cardBackground);

  border: 1px solid var(--shadowColor);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.overlay input::placeholder,
.overlayEdit input::placeholder,
.overlay select::placeholder,
.overlayEdit select::placeholder {
  color: var(--sidebarBackground);
}

.overlay input.changeClient {
  padding: 8px;
  margin: 3px;
  border-radius: 5px 0 0 5px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: var(--cardBackground);
}

.overlay label,
.overlayEdit label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
}

.modal {
  background: var(--mainBackground);
  padding: 1.8rem 1.8rem 1rem 1.8rem;
  gap: 4px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalEdit {
  background: var(--mainBackground);
  padding: 1rem 1.8rem 1rem 0;
  border-radius: 10px;
  width: 1000px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px 10px 0;
  justify-content: space-between;
  overflow-y: auto;
scrollbar-color: var(--primaryColor) var(--sidebarBackground);}

.cardDeals {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.innerModal {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.modalLeft {
  padding: 0 1rem 1rem 1.8rem;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 100%;
  justify-content: space-between;
}

.titleCard {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.right {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalRight {
  padding: 20px 1.8rem 1rem 1.8rem;
  background: var(--cardBackground2);
  border-radius: 10px;
  gap: 4px;
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid var(--shadowColor);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.overlayEdit .modalRight input {
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  color: var(--primaryText);
}

.closeBtn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
}

.closeBtnEdit {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
}

.btnPriority {
  background: transparent;
  border: none;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primaryText);
  cursor: pointer;
}

.btnPriorityActive {
  background: transparent;
  border: none;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primaryColor);
  cursor: pointer;
}

.error {
  color: var(--errorColor2);
  font-size: var(--font--5);
}
.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  height: 35px;
}

.addClient {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  padding: 5px;
  font-size: 1.5rem;
  color: var(--primaryText);
  background: var(--cardBackground);
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.addClient:hover {
  color: var(--primaryColor);
  background: var(--cardBackgroundHover);
}

.paymentTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.payment {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.btnDeal {
  padding: 5px;
  color: var(--primaryText);
  background: var(--cardBackground);
  font-size: 1.5rem;
  width: 70%;
  border: none;
  border-radius: 20px;
  width: 250px;
  cursor: pointer;

  border: 1px solid var(--shadowColor);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.modalLeft h4 {
  color: var(--secondaryText);
}

.noteSection h3 {
  color: var(--primaryText);
}

.btnSave {
  background: transparent;
  border: none;
  font-size: 1.8rem;
  color: var(--primaryText);
  cursor: pointer;
}

.btnSave:hover {
  color: var(--primaryColor);
}

.addNote {
  width: 100%;
  margin-bottom: 10px;
}

.btnEditDocValue {
  border: none;
  color: var(--tercearyText);
  font-size: 0.9rem;
  cursor: pointer;
}

.btnEditDocValue:hover {
  color: var(--primaryColor);
}

.btnDelDocValue {
  border: none;
  margin-left: 5px;
  color: var(--errorColor2);
  font-size: 0.9rem;
  cursor: pointer;
}

.btnDelDocValue:hover {
  color: var(--errorColor);
}

.noteSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  height: 45%;
  margin-top: 10px;
}

.addNote {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.noteList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  max-height: 150px;
  padding: 5px;
  border-radius: 5px;
  background: var(--cardBackground);
  justify-content: space-between;
scrollbar-color: var(--primaryColor) var(--sidebarBackground);}

.noteItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: solid 1px var(--shadowColor);
}

.btnUpdateAndSell {
  display: flex;
  margin-left: 20px;
  width: 100%;
  align-items: center;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.deleteRequest {
  padding: 5px;
  color: var(--primaryText);
  border: 1px solid var(--errorColor2);
  font-size: 1.5rem;
  border-radius: 20px;
  width: 150px;
  text-align: center;

  background: var(--errorColorD);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnDelete {
  padding: 5px;
  color: var(--primaryText);
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
  width: 150px;
  cursor: pointer;
  border: 1px solid var(--shadowColor);
  background: var(--cardBackground);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnDelete:hover {
  background: var(--errorColorD);
  border: 1px solid var(--errorColor);
}

.btnUpdate {
  padding: 5px;
  color: var(--primaryText);
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
  width: 150px;
  cursor: pointer;

  background: var(--cardBackground);
  border: 1px solid var(--shadowColor);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnUpdate:hover {
  color: var(--primaryColor);
  background: var(--cardBackgroundHover);
  border: 1px solid var(--primaryColor);
}

.btnSell {
  padding: 5px;
  color: var(--primaryText);
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
  width: 150px;
  cursor: pointer;
  background: var(--cardBackground);
  border: 1px solid var(--shadowColor);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnSell:hover {
  color: var(--primaryColor);
  background: var(--cardBackground2);
  border: 1px solid var(--primaryColor);
}

.footerCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footerCard > * {
  flex: 1;
  text-align: center;
}

.btnUpdateAndStep {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  width: 70%;
}

.updateBox {
  display: flex;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  width: 30%;
  max-width: 300px;
}

.updateBox h6 {
  font-size: x-small;
}
