.page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 90%;
  max-width: 1200px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--shadowColor);
  background: var(--cardBackground);
  color: var(--primaryText);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  margin-bottom: 20px;
  text-align: center;
}

.warning {
  text-align: center;
  color: var(--primaryColor);
}

.error {
  color: var(--errorColor2);
  font-size: var(--font-5);
}

.doc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
  max-width: 800px;
}

.label {
  margin: 0;
}

.inputAndPercent {
  display: flex;
}

.inputWrapper {
  position: relative;
  display: inline-block;
}

.suffix {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* 🔥 importante */
  color: var(--primaryText);
}

.inputPercent {
  padding-right: 20px; /* espaço pro % */
  text-align: right;
}

.inputPercent {
  align-items: center;
  padding: 5px 23px 5px 5px;
  border-radius: 5px;
  width: 100%;
  max-width: 100px;
  border: 1px solid var(--shadowColor);
  background: var(--cardBackground);
  transition: 200ms;
  color: var(--primaryText);
  text-align: right;
  gap: 5px;
}

.inputValue {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  max-width: 100px;
  border: 1px solid var(--shadowColor);
  background: var(--cardBackground);
  transition: 200ms;
  color: var(--primaryText);
}

.btns {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  max-width: 500px;
}

.btnSave {
  margin-top: 20px;
  padding: 5px;
  color: var(--primaryColor);
  background: var(--cardBackground);
  border: none;
  border-radius: 5px;
  max-width: 200px;
  width: 80%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;

  border: 1px solid var(--primaryColor);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnSave:hover {
  color: var(--primaryText);
  background: var(--cardBackground2);
}

.btnReset {
  margin-top: 20px;
  padding: 5px;
  color: var(--errorColor2);
  border: 1px solid var(--shadowColor);
  background: var(--cardBackground);
  border: none;
  border-radius: 5px;
  max-width: 200px;
  width: 80%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnReset:hover {
  color: var(--primaryText);
  background: var(--errorColorD);
}

@media (max-width: 768px) {
  .description {
    text-align: center;
  }

  .doc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  .btns {
    gap: 10px;
  }
}
