.page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 90%;
  max-width: 1200px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--shadowColor);
  background: var(--cardBackground);
  color: var(--primaryText);
}

.description {
  margin-bottom: 20px;
}

.doc {
  display: grid;
  grid-template-columns: 250px 120px 40px;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5px;
}

.label {
  margin: 0;
}

.inputAndPercent {
  display: flex;
}

.input {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  width: 80%;
  max-width: 120px;
  border: 1px solid var(--shadowColor);
  background: var(--cardBackground);
  transition: 200ms;
  color: var(--primaryText);
}

.btns {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.btnSave {
  margin-top: 20px;
  padding: 5px;
  color: var(--primaryColor);
  background: var(--cardBackground);
  border: none;
  border-radius: 5px;
  max-width: 200px;
  width: 80%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;

  border: 1px solid var(--primaryColor);
  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnSave:hover {
  color: var(--primaryText);
  background: var(--cardBackground2);
}

.btnReset {
  margin-top: 20px;
  padding: 5px;
  color: var(--errorColor2);
  border: 1px solid var(--shadowColor);
  background: var(--cardBackground);
  border: none;
  border-radius: 5px;
  max-width: 200px;
  width: 80%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;

  box-shadow: -3px 3px 10px var(--shadowColor);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.btnReset:hover {
  color: var(--primaryText);
  background: var(--errorColorD);
}
