.page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 90%;
  max-width: 1200px;
  padding: 15px;
  border-radius: 5px;
  color: var(--primaryText);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  margin-bottom: 20px;
  text-align: center;
}

.warning {
  text-align: center;
  color: var(--primaryColor);
}

.doc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
  max-width: 800px;
}

.inputAndPercent {
  display: flex;
}

.inputWrapper {
  position: relative;
  display: inline-block;
}

.inputValue {
  display: flex;
  align-items: center;
  padding: 5px;
  max-width: 100px;
  color: var(--primaryText);
}

.inputPercent {
  padding-right: 20px;
  align-items: center;
  padding: 5px 23px 5px 5px;
  max-width: 100px;
  color: var(--primaryText);
  text-align: right;
  gap: 5px;
}

.suffix {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--primaryText);
}

.btns {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  max-width: 500px;
}

.btnSave {
  margin-top: 20px;
  padding: 5px;
  color: var(--primaryColor);
  border: none;
  border-radius: 6px;
  max-width: 500px;
  width: 35%;
  cursor: pointer;
  border: 1px solid var(--textBase);
}

.btnSave:hover {
  color: var(--primaryText);
  border: 1px solid var(--primaryColor);
}

.btnReset {
  color: var(--errorColor);
}

.btnReset:hover {
  background-color: var(--errorColor);
  border: 1px solid var(--textBase);
}

@media (max-width: 768px) {
  .main {
    width: 100%;
    padding: 15px 10px;
    color: var(--primaryText);
  }

  .description {
    margin-bottom: 10px;
  }
}
